[2019-11-23 09:14] xenoneon opened #57 "iOS真机（iphone7）编译报错， 无法启动Demo"
用iphone7真机测试iOS Demo:
1. flutter run

[code]
没有办法启动应用，请帮忙看下。

[2019-11-25 12:08] xenoneon commented on #57
已经解决，该方法：EMClient.sharedClient.chatManager loadMessagesWithKeyword:keywords 需要Hyphenate 3.6.2版本才有，更新了好几次发现都是3.6.0版本，最后发现是im_flutter_sdk/example/ios下面的Podfile.lock文件捣的鬼，删掉以后，重新pod install解决了！

[2019-11-25 12:08] #57 closed

[2019-11-27 13:59] zhanchi88 opened #58 "支持音视频了吗？"
现在是发布版还是测试版？

[2019-11-27 14:41] dujiepeng commented on #58
尽请期待。

---原始邮件---
发件人: "小翅"<notifications@github.com&gt;
发送时间: 2019年11月27日(星期三) 晚上9:59
收件人: "easemob/im_flutter_sdk"<im_flutter_sdk@noreply.github.com&gt;;
抄送: "Subscribed"<subscribed@noreply.github.com&gt;;
主题: [easemob/im_flutter_sdk] 支持音视频了吗？ (#58)

现在是发布版还是测试版？

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-11-28 04:04] naizhu commented on #58
没文档啊

[2019-11-28 09:50] bingo commented on #58
https://easemob.github.io/im_flutter_sdk/  暂时只有SDK API 文档。

[2019-11-28 11:13] perfectnihil opened #59 "开发了两个多月还没有正式版啊"
真够慢的！

[2019-11-28 13:28] bingo commented on #59
理解您急迫的心情，从项目开始到现在时间是过去了两个月，不过其实大家真正投入的时间相对较短，后续我们会投入更多的时间尽快推出正式版。

[2019-12-06 07:56] #59 closed

[2019-12-06 07:57] #58 closed

[2019-12-09 05:30] huangqiang325 opened #70 "请问什么时候放到pub上"
谢谢

[2019-12-12 01:25] buhuiming opened #72 "minSdkVersion 24"
7.0以下不支持了吗

[2019-12-13 08:17] vhbvb commented on #70
同问

[2019-12-13 08:18] dujiepeng commented on #70
已经在处理了。

---原始邮件---
发件人: "vhbvb"<notifications@github.com&gt;
发送时间: 2019年12月13日(周五) 下午4:17
收件人: "easemob/im_flutter_sdk"<im_flutter_sdk@noreply.github.com&gt;;
抄送: "Subscribed"<subscribed@noreply.github.com&gt;;
主题: Re: [easemob/im_flutter_sdk] 请问什么时候放到pub上 (#70)

同问

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or unsubscribe

[2019-12-13 08:21] Mygithubyouknow commented on #72
您好 我们SDK这边 minSdkVersion 19以上

[2019-12-24 01:05] buhuiming commented on #72
看源码是minSdkVersion 24

[2019-12-24 02:23] apex-wang commented on #72
源码忘记改了 这个你可以自己修改  新提交的PR已经做修改过来了

[2019-12-24 02:29] bingo commented on #70
@dujiepeng 这个目前什么状态，我在pub.dev上还没有看到。

[2019-12-24 03:53] bingo commented on #72
最新版本已经调整minSdkVersion

[2019-12-24 03:53] #72 closed

[2019-12-27 03:24] TimLang opened #81 "是不是androidx不支持，编译报错：android.support.annotation does not exist"
引入im_flutter_sdk后 iOS一切正常，真机也无问题，但是安卓报错，无法通过编译：android.support.annotation does not exist，我看了下是不是不支持androidx。

[2019-12-27 03:32] bingo commented on #81
请先参考一下这篇文章，看是不是能解决您的问题：
https://flutter.dev/docs/development/androidx-migration

如果还有问题，请继续反馈。

[2019-12-27 03:51] TimLang commented on #81
回复真快！您发的我都设置过的：
org.gradle.jvmargs=-Xmx1536M

android.useAndroidX=true
android.enableJetifier=true
useProguard = true
android.enableR8 = false

期待您的回复。。

[2019-12-27 03:53] apex-wang commented on #81
我们目前是用的support库 如果你的项目是androidX的 您这边可以手动去修改一下 将support换成对应androidX的依赖即可  这里需要注意的是 如果你依赖的第三方 也有使用support 也需要一样修改成androidX   这个只是去换一下依赖 不是很麻烦  flutter项目通过Open android module in Android Studio可以打开android项目结构 里面引用加载的第三方builder文件都可以看到 直接进行修改即可

[2019-12-27 04:10] TimLang commented on #81
谢谢，我目前的方法是fork下项目，然后把android.support.annotation引用去掉并删除NotNull的注释，后续能有办法解决吗，fork不是个好主意哎，不是安卓工程师，目前不知道有没有其他比较好的办法。

[2019-12-30 10:46] a4081675 opened #82 "哪个分支的demo能运行啊？我最新版的flutter下载下来完全不能运行啊"
![image](https://user-images.githubusercontent.com/17973196/71578799-9ff2ba80-2b34-11ea-882f-b32c38d02483.png)

[2019-12-30 10:53] a4081675 commented on #82
就是这个错了。
Xcode's output:
↳
    /git/im_flutter_sdk-0c9521dd85bc98db0ee704451cae5f1a776650fc/ios/Classes/EMChatManagerWrapper.m:268:40: error: no known instance method for selector 'loadMessagesWithKeyword:timestamp:count:fromUser:searchDirection:completion:'
        [EMClient.sharedClient.chatManager loadMessagesWithKeyword:keywords
                                           ^~~~~~~~~~~~~~~~~~~~~~~

[2019-12-30 11:37] dujiepeng commented on #82
有安装cocoapods么？在example中的ios目录下执行pod install

[2019-12-30 11:42] a4081675 commented on #82
flutter 运行的时候自动执行pod install了吧。刚才我手动执行了一次也不行。
![image](https://user-images.githubusercontent.com/17973196/71580645-805f9000-2b3c-11ea-9c9a-3c93e93f7f23.png)

[2019-12-30 12:40] dujiepeng commented on #82
在本地执行一下pod setup 看下，或者在本地pod search Hyphenate， 看下目前本地的ios sdk是什么版本。

[2019-12-31 04:18] a4081675 commented on #82
![image](https://user-images.githubusercontent.com/17973196/71608729-3a4b1080-2bbe-11ea-97da-1d5bc266f65d.png)

[2019-12-31 04:23] a4081675 commented on #82
![image](https://user-images.githubusercontent.com/17973196/71610016-505dce80-2bc8-11ea-8052-c98f3f2b6215.png)

[2019-12-31 04:24] a4081675 commented on #82
-> Hyphenate (3.6.2)
   An Objective-C client for IM service
   pod 'Hyphenate', '~> 3.6.2'
   - Homepage: http://www.easemob.com/
   - Source:
   https://downloadsdk.easemob.com/downloads/iOS_Pods_IMFullSDK_V3.6.2.zip
   - Versions: 3.6.2, 3.6.1, 3.6.0, 3.5.5, 3.5.4, 3.5.3, 3.5.2, 3.5.1, 3.5.0,
   3.4.3, 3.4.2, 3.4.1, 3.4.0.1, 3.4.0, 3.3.9, 3.3.8, 3.3.7, 3.3.6, 3.3.5,
   3.3.4.1, 3.3.4, 3.3.3, 3.

[2019-12-31 04:27] dujiepeng commented on #82
恩，前面看是3.6.0，那个时候有的api还没有，你执行过pod setup后，看到的已经到3.6.2了，再手动在runner目录下执行一次，看看可以了么。

[2019-12-31 04:34] a4081675 commented on #82
执行pod update  好了

[2019-12-31 04:35] a4081675 commented on #82
im_flutter_sdk.podspec   这个文件里面我觉得加个版本号会好一点

[2019-12-31 04:51] dujiepeng commented on #82
@a4081675 好的。

[2019-12-31 04:51] #82 closed, assigned to nobody

[2019-12-31 08:21] a4081675 opened #83 "引入库后IOS和Android还需要单独设置什么？"
登陆能成功。获取会话为空。用demo的Key和我们的Key都不行。用的IOS模拟器运行的。
Map map = await EMClient.getInstance().chatManager().getAllConversations();
print("map:$map");

输出：map:{}

[2019-12-31 09:20] a4081675 commented on #83
联系人也能获取成功。会话那个是不是有啥限制啊。比如同一个设备啥的

[2019-12-31 09:23] a4081675 commented on #83
好了。有会话了，应该是跟着设备走的。重新发了条消息就有了

[2020-01-05 06:19] hlj2722 opened #84 "example 例子无法运行"
运行环境：
 Android Studio (version 3.5)

Flutter (Channel stable, v1.12.13+hotfix.5, on Microsoft Windows [Version 10.0.18363.535], locale zh-CN)
-------------------------------------------------------------

D:\flutter_app\im_flutter_sdk\android\src\main\java\com\easemob\im_flutter_sdk\EMChatRoomManagerWrapper.java:3: ����: �����android.support.annotation������
import android.support.annotation.NonNu

[2020-01-07 11:02] apex-wang commented on #83
会话消息都是本地的 更换设备自然没有之前的记录

[2020-01-07 11:04] apex-wang commented on #84
这是提示你项目中有androidX 导致的不兼容  要么把builder.gradle里面的support全部换成androidX的依赖 要么全部换成support  这里要更换的包含项目中依赖的所有第三方库的builder.gradle

[2020-01-07 13:36] hlj2722 commented on #84
im_flutter_sdk 可以升级到 androidx吗

[2020-01-08 02:37] apex-wang commented on #84
这个自己可以把sdk中依赖的support库换成相对应的androidX依赖就行

[2020-01-09 04:34] a4081675 opened #85 "IOS发送图片消息有问题，Android的没问题。"
回调什么的都没有
去IOS那边断点看参数什么的都正常，
[EMClient.sharedClient.chatManager sendMessage:msg
                                          progress:progress
                                        completion:completion];
感觉是这个包有问题。
demo也有这问题

[2020-01-19 07:23] apex-wang commented on #81
后面慢慢的肯定都会使用androidx 取代support  我们后面提交代码也会换成androidX的 这样也就不需要用本地fork了  相对的如果客户使用的support 就只能自己先把项目迁移一下 或者 fork到本地自己修改了 这是目前这类问题的现状。

[2020-01-21 06:56] helojo opened #90 "demo运行报错"
Compiler message:
../../../../../../.pub-cache/hosted/pub.dartlang.org/cached_network_image-1.1.3/lib/src/cached_network_image_provider.dart:42:24: Error: The method 'CachedNetworkImageProvider.load' has fewer positional arguments than those of overridden method 'ImageProvider.load'.
  ImageStreamCompleter load(CachedNetworkImageProvider key) {
                       ^
../../../../../../flutter/pa

[2020-01-29 15:57] Kingtous opened #91 "项目集成sdk后release运行问题"
项目集成sdk后，
debug版运行正常，但是release版直接就崩溃了

这里提示：

请问这个SDK有正确打入混淆吗？

[2020-02-01 12:56] Kingtous commented on #91
需要打入:
[code]
打入后运行正常

[2020-02-07 10:39] csi0n opened #92 "Android模拟器无问题，真机报错."
模拟器上没发现问题，真机上报下面的错
报错信息
[code]
是我哪边配置有问题？

[2020-02-07 11:48] csi0n commented on #92
找到原因了。
替换：
[code]
为
[code]
即可

[2020-02-07 11:48] #92 closed, assigned to nobody

[2020-02-07 13:02] bingo commented on #92
可能是androidX支持的问题，可以搜索下之前有人提的issue，讲到怎么修改了。

[2020-02-07 13:03] bingo commented on #92
https://github.com/easemob/im_flutter_sdk/issues/81   参考这个

[2020-02-07 14:27] csi0n commented on #92
嗯，已经解决了，把androidx.core.util.Consumer替换成java.util.function.Consumer这个就行了。

[2020-02-23 11:47] csi0n opened #94 "IOS中通讯录监听器重复执行"
<img width="553" alt="截屏2020-02-23 下午7 45 56" src="https://user-images.githubusercontent.com/8362811/75111472-37781380-5675-11ea-95fc-a61296d86254.png">
<img width="1312" alt="WeChatc3643c8ab725009fabc06738dff0a02a" src="https://user-images.githubusercontent.com/8362811/75111473-3a730400-5675-11ea-8291-17c432bf1144.png">
只注册了一次监听器，但是删除，添加好友后却重复执行多次事件

Android下面是正常的

[2020-02-24 03:42] #94 closed, assigned to nobody

[2020-03-03 07:08] VanXD commented on #70
@dujiepeng 能放到pub上吗?

[2020-03-03 07:21] VanXD opened #96 "有release包发布吗?"
有release包发布吗?

[2020-03-03 09:11] jinxue447461686 commented on #90
我也有同样的问题。

[2020-03-03 09:16] #91 closed, assigned to nobody

[2020-03-03 09:20] #84 closed, assigned to nobody

[2020-03-03 09:59] bingo commented on #70
@VanXD 您好，麻烦让您久等了，pub.dev梯子问题解决，已经上传。
感谢您的支持和理解。

[2020-03-03 09:59] #70 closed

[2020-03-03 09:59] dujiepeng commented on #96
https://pub.dev/packages/im_flutter_sdk

[2020-03-03 09:59] #96 closed, assigned to nobody

[2020-03-03 10:13] TimLang commented on #85
我也发现iOS有这个问题，不知道什么时候能解决。

图片是可以发出去的，但是缺没回调。

[2020-03-06 03:26] richaelguitar opened #97 "大兄弟，你这异步线程直接更新UI啊"
类EMClientWrapper：
有多处是直接子异步线程直接更新UI,下面以创建账号为例：
    private void createAccount(Object args, Result result) {
        new Thread(new Runnable() {
            @Override
            public void run() {
                try {
                    JSONObject argMap = (JSONObject) args;
                    String userName = argMap.getString("userName");
                    String password = argMap.getStrin

[2020-03-06 10:02] apex-wang commented on #97
??大兄弟 那里更新UI了？

[2020-03-06 10:11] richaelguitar commented on #97
你这里是开了一个异步线程，然后onSuccess()在flutter的ui线程操作
还是拿注册创建账户这个代码:
 void register(String username, String password){
    _refreshUI(true);
    EMClient.getInstance().createAccount(username, password,
        onSuccess: (){
          Navigator.of(context).pushNamed(Constant.toLoginPage ,arguments:{'username':this._usernameController.text, 'password':this._pwdController.text});
        },
        onError: (co

[2020-03-10 02:59] apex-wang commented on #97
好的 我们这边看下

[2020-03-13 04:20] fangmd opened #98 "现在这个 sdk 稳定了吗？打算什么时候发到 pub 上呢？"
现在这个 sdk 稳定了吗？打算什么时候发到 pub 上呢

[2020-03-13 09:26] bingo commented on #98
已经发布到pub.dev上了呢，亲！

[2020-03-13 09:27] #81 closed, assigned to nobody

[2020-03-13 09:27] #83 closed, assigned to nobody

[2020-03-13 09:29] bingo commented on #98
https://pub.dev/packages/im_flutter_sdk

[2020-03-13 09:29] #98 closed, assigned to nobody

[2020-03-13 10:33] dujiepeng commented on #90
因为ios demo中用到了
cached_network_image 这个库，这个库需要升级。
在example/pubspec.yaml中改成
cached_network_image: ^2.0.0-rc

[2020-03-13 10:36] #90 closed, assigned to nobody

[2020-03-22 04:24] ToZhanChi opened #99 "IOS发送图片消息有问题"
IOS发送图片消息有问题

[2020-03-22 09:31] Wesley-front-end opened #100 "android 打包报错，请问有没有好的解决办法"
![360截图17060220044031](https://user-images.githubusercontent.com/30643443/77246507-e9016900-6c62-11ea-8c13-b465f8e23027.png)
support报错

[2020-03-23 04:27] apex-wang commented on #100
#1.基本指令区
#-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers
-dontpreverify
-verbose
-ignorewarning
-printmapping proguardMapping.txt
#-optimizations !code/simplification/cast,!field/*,!class/merging/*
-dontoptimize
-keepattributes *Annotation*,InnerClasses
-keepattributes Signature
-keepattributes SourceFile,LineNumberTable

#2

[2020-03-23 05:29] Wesley-front-end commented on #100
什么时候发布可以支持androidx的插件，另外安卓demo里面的java下的代码需要添加到新项目吗，只用flutter的插件可以吗，现在打包可以了，但是运行会闪退

[2020-03-30 10:51] shoxive opened #103 "红米3S闪退问题"
`[ERROR:flutter/shell/platform/android/platform_view_android_jni.cc(39)] java.lang.NoClassDefFoundError: com.easemob.im_flutter_sdk.-$$Lambda$EMChatManagerWrapper$eNhSM1WljEr7G-ytqJ3k_Pe-H6o
        at com.easemob.im_flutter_sdk.EMChatManagerWrapper.getAllConversations(EMChatManagerWrapper.java:378)
        at com.easemob.im_flutter_sdk.EMChatManagerWrapper.onMethodCall(EMChatManagerWrapper.java:1

[2020-03-30 11:19] #103 closed, assigned to nobody

[2020-03-31 03:43] TimLang commented on #99
iOS的话，直接用本地图片地址是可以传的，但是从相册也就是模拟器里面的图片传不了，不知道为什么。

[2020-03-31 06:01] apex-wang commented on #100
androidx 你现在可以直接下载到本地去依赖 然后把本地的support的依赖换成androidX的就可以了

[2020-04-01 02:02] Wesley-front-end commented on #100
消息漫游咱们现在支持吗，如何使用消息漫游呢

[2020-04-03 07:04] fangmd opened #104 "iOS 打包报错"
[code]

Compress PNG Files Error Group

[code]

[code]

[2020-04-03 08:46] fangmd commented on #104
CallImgs 这个文件下的png图片能先压缩下吗。。。

[2020-04-07 04:56] cv0cv0 opened #105 "iOS编译报错"
<img width="290" alt="图片" src="https://user-images.githubusercontent.com/18623780/78626088-4da60000-78c0-11ea-9a9d-2dd2259f2cb9.png">

[2020-04-07 06:32] FuDongHai commented on #104
图片8kb也不算大，这是实时通话页面呼叫时用到的图片，您的场景使用不到可以删除掉，也可以自行替换.
图片路径：FlutterSDK/im_flutter_sdk/ios/Calls/Call/CallImgs/WaitAnimate/

 MBProgressHUD的问题：将 MBProgressHUD版本指定到1.1.0，然后在pod install
![image](https://user-images.githubusercontent.com/15087647/78637169-6f14e500-78dc-11ea-8d93-4a47fa33466a.png)
![image](https://user-images.githubusercontent.com/15087647/78637196-7b993d80-78dc-11ea-94b2-ae242c176ad3.png)

[2020-04-07 06:33] FuDongHai commented on #105
将 MBProgressHUD的版本指定到1.1.0，然后在pod install
![image](https://user-images.githubusercontent.com/15087647/78637279-a8e5eb80-78dc-11ea-923a-7d5bec3bf3c6.png)
![image](https://user-images.githubusercontent.com/15087647/78637308-b26f5380-78dc-11ea-8936-9a6ece3ff006.png)

[2020-04-07 07:35] cv0cv0 commented on #105
可以了，谢谢。

[2020-04-07 07:35] #105 closed, assigned to nobody

[2020-04-07 07:47] cv0cv0 commented on #105
@FuDongHai Android debug 模式可以运行，release 模式不可以运行。
<img width="1104" alt="图片" src="https://user-images.githubusercontent.com/18623780/78643599-1139ca80-78e7-11ea-9895-930f798bc787.png">

[2020-04-09 04:52] fangmd commented on #104
已解决

[2020-04-09 04:52] #104 closed, assigned to nobody

[2020-04-10 12:29] Wesley-front-end opened #106 "聊天室的数据库储存的历史消息在应用退出后再打开就没没有了"
请问这个怎么搞

[2020-04-14 05:48] cv0cv0 opened #107 "接收到消息怎么跳转到会话界面？"
找了下没找到这方面的逻辑。

[2020-04-14 07:18] apex-wang commented on #106
环信聊天室记录 是环信服务端配置下发的 不会存本地数据库 你可以提交工单联系环信工作人员 免费配置聊天室10条历史记录

[2020-04-14 08:25] apex-wang commented on #107
接收到消息只能通过SDK提供的消息监听去接收  至于跳转聊天界面 可以通过Navigator.push进行跳转
demo中是去跳转ChatPage页面 需要传的参数为 会话类型和对方的环信ID

[2020-04-14 12:34] cv0cv0 commented on #107
我想在收到推送的时候点击通知跳转到会话界面，如果 App 被杀掉了，需要去哪里监听？

[2020-04-14 12:35] cv0cv0 opened #108 "Unhandled Exception: MissingPluginException(No implementation found for method addMessageListener on channel com.easemob.im/em_chat_manager)"
会话界面添加监听报错。

[2020-04-15 08:42] cv0cv0 commented on #108
应该是我 getConversation 传的空字符串的原因。

[2020-04-15 08:42] #108 closed, assigned to nobody

[2020-04-17 09:42] cv0cv0 opened #110 "iOS 编译 release 包报错"
<img width="290" alt="图片" src="https://user-images.githubusercontent.com/18623780/79555853-d1d36100-80d2-11ea-9104-365268a11d00.png">

[2020-04-17 09:56] cv0cv0 commented on #110
多编译几次又编译成功了。

[2020-04-17 09:59] cv0cv0 commented on #110
flutter 编译成功，但是在 Xcode 中打包报错。

[2020-04-17 10:07] cv0cv0 commented on #110
又不行了，就成功那一次。

[2020-04-21 08:55] cv0cv0 opened #111 "MissingPluginException(No implementation found for method enableOfflinePush on channel com.easemob.im/em_push_manager)"
方法都没实现功能能正常使用吗？

[2020-04-21 08:55] cv0cv0 opened #112 "MissingPluginException(No implementation found for method addMessageListener on channel com.easemob.im/em_chat_manager)"
没法添加消息监听能收到消息吗？

[2020-04-21 11:56] cv0cv0 opened #113 "Android 登录成功之后闪退"
/chuangding.sho(14525): Rejecting re-init on previously-failed class java.lang.Class<internal.org.apache.http.entity.mime.MultipartEntity>: java.lang.NoClassDefFoundError: Failed resolution of: Lorg/apache/http/HttpEntity;
I/chuangding.sho(14525):   at void com.hyphenate.chat.adapter.EMAChatClient.native_login(java.lang.String, java.lang.String, boolean, boolean, com.hyphenate.chat.adapter.EMAErro

[2020-04-21 12:11] cv0cv0 opened #114 "数据库报错"
E/SQLiteDatabase(19857): Failed to open database '/storage/emulated/0/emlibs/libs/monitor.db'.
E/SQLiteDatabase(19857): android.database.sqlite.SQLiteException: not an error (code 0 SQLITE_OK): Could not open the database in read/write mode.
E/SQLiteDatabase(19857): 	at android.database.sqlite.SQLiteConnection.nativeOpen(Native Method)
E/SQLiteDatabase(19857): 	at android.database.sqlite.SQLiteCon

[2020-04-21 12:12] cv0cv0 commented on #97
Android 我也遇到 ui 线程报错了。直接闪退。

[2020-04-22 02:05] DouSN commented on #110
请问问题解决了吗，我也遇到相同的问题了。。。

[2020-04-22 02:10] cv0cv0 commented on #110
@pingxiaodou
<img width="1334" alt="图片" src="https://user-images.githubusercontent.com/18623780/79933041-7235d680-8481-11ea-9e08-a271b1d258b8.png">
两个都改为 no 。

[2020-04-22 02:12] cv0cv0 commented on #110
@pingxiaodou 但是 Android 用不了，这个 sdk 会导致 Android 闪退。

[2020-04-22 02:22] DouSN commented on #110
@cv0cv0 感谢，终于能打包成功了。。我这里android上反而没有问题。demo中的视频通话和语音通话都是用原生实现的 需要把这里的代码和xml布局文件都复制到项目中

[2020-04-22 02:28] apex-wang commented on #113
你这个异常是没找到apache.http下的类HttpEntity  是打包后运行的还是 直接debug运行的？ 顺便在看下android环境下有没有加这个库

[2020-04-22 02:31] FuDongHai commented on #111
iOS的推送设置功能还没有添加。

[2020-04-22 02:34] FuDongHai commented on #107
这个需要在原生（安卓和iOS）监听点击通知栏的系统方法，然后通过userinfo中"f"拿到发送消息方的环信id传给flutter层，最后在根据拿到的环信id跳转到聊天页面。

[2020-04-22 02:35] cv0cv0 commented on #113
@Mygithubyouknow 是打包运行的。我没加，我以为 sdk 中加了。我看看 example 中的配置。

[2020-04-22 02:37] cv0cv0 commented on #107
好的，我研究一下。

[2020-04-22 02:37] #107 closed, assigned to nobody

[2020-04-22 02:37] apex-wang commented on #113
打包混淆开启了吗？ 代码里面应该是没有加混淆配置的
#1.基本指令区
#-optimizationpasses 5
-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-dontskipnonpubliclibraryclassmembers
-dontpreverify
-verbose
-ignorewarning
-printmapping proguardMapping.txt
#-optimizations !code/simplification/cast,!field/*,!class/merging/*
-dontoptimize
-keepattributes *Annotation*,InnerClasses
-keepattributes Signature
-keepattributes Sour

[2020-04-22 02:38] cv0cv0 commented on #113
@Mygithubyouknow 没有开启混淆，由于是纯 Flutter 项目。

[2020-04-22 02:41] apex-wang commented on #97
有异常信息 和 具体的堆栈异常吗？

[2020-04-22 03:21] cv0cv0 commented on #97
@Mygithubyouknow E/AndroidRuntime(13677): java.lang.RuntimeException: Methods marked with @UiThread must be executed on the main thread. Current thread: Thread-3
E/AndroidRuntime(13677): 	at io.flutter.embedding.engine.FlutterJNI.ensureRunningOnMainThread(FlutterJNI.java:793)
E/AndroidRuntime(13677): 	at io.flutter.embedding.engine.FlutterJNI.invokePlatformMessageResponseCallback(FlutterJNI.java:7

[2020-04-22 03:21] cv0cv0 commented on #97
@Mygithubyouknow 我是在 App 里运行这一段 EMClient.getInstance().pushManager().enableOfflinePush();
代码的。

[2020-04-22 04:30] apex-wang commented on #114
这个是sdk内部去调之前版本的SQLite抛出的异常  目前是不影响使用的 这个异常一直都存在

[2020-04-22 05:13] #114 closed, assigned to nobody

[2020-04-22 06:01] #113 closed, assigned to nobody

[2020-04-22 06:24] cv0cv0 commented on #97
不过好像不运行这段代码也可以收到推送。

[2020-04-23 02:42] zhoutongbie opened #117 "项目下载下来 flutter run 报错了"
执行 flutter run 报以下错误  什么问题啊？

Running "flutter pub get" in example...                             0.9s

Launching lib/main.dart on iPhone 11 in debug mode...

Compiler message:
/usr/local/Cellar/flutter/.pub-cache/hosted/pub.flutter-io.cn/cached_network_image-1.1.1/lib/src/cached_network_image_provider.dart:42:24:
Error: The method 'CachedNetworkImageProvider.load' has fewer positional arguments t

[2020-04-23 03:33] zhoutongbie commented on #117
我下载的是dev版本。是需要下载release版本吗？

[2020-04-23 03:40] FuDongHai commented on #117
看下这两个
https://github.com/easemob/im_flutter_sdk/issues/90
https://github.com/easemob/im_flutter_sdk/issues/105

[2020-04-25 02:45] cv0cv0 opened #119 "现在推送还没有写好吗？"
Android App 在后台收不到消息，但是在推送控制台发消息是能收到的。iOS 还没测试。

[2020-04-25 02:48] cv0cv0 commented on #117
cached_network_image 库版本过低，在 pubspec.yaml 中添加：
[code]

[2020-05-07 06:55] cv0cv0 opened #124 "Android R 闪退"
E/linker  ( 9924): library "/system/lib64/libsqlite.so" ("/system/lib64/libsqlite.so") needed or dlopened by "/apex/com.android.art/lib64/libnativeloader.so" is not accessible for the namespace: [name="classloader-namespace", ld_library_paths="", default_library_paths="/data/app/~~HN0j77CKjSilOMedejKk_g==/com.chuangding.shop-NcRL0JS5ZI72wXAPbB84WA==/lib/x86_64:/data/app/~~HN0j77CKjSilOMedejKk_g==/

[2020-05-07 10:25] FuDongHai commented on #85
新更新的dev分支上解决了。

[2020-05-07 10:26] FuDongHai commented on #99
新更新的dev分支上解决了。

[2020-05-07 10:27] FuDongHai commented on #117
已经发版解决。

[2020-05-07 10:27] #117 closed, assigned to nobody

[2020-05-07 10:28] #106 closed, assigned to nobody

[2020-05-14 02:27] FuDongHai commented on #111
推送功能已经完成，已经更新到dev分支

[2020-05-14 02:27] #111 closed, assigned to nobody

[2020-05-14 02:29] FuDongHai commented on #112
dev分支已经处理掉这个错误提示的问题，iOS目前的机制是不加监听 addMessageListener ，也可以接收到消息。

[2020-05-14 02:48] cv0cv0 commented on #112
感谢解答。

[2020-05-14 02:48] #112 closed, assigned to nobody

[2020-05-14 02:49] cv0cv0 commented on #119
好像能收到了。

[2020-05-14 02:49] #119 closed, assigned to nobody

[2020-05-14 02:50] #110 closed, assigned to nobody

[2020-05-14 03:02] cv0cv0 opened #131 "Android 10 闪退"
W/System.err( 6257): java.lang.NullPointerException: Attempt to write to field 'java.lang.String com.hyphenate.chat.EMContact.username' on a null object reference
W/System.err( 6257): 	at com.hyphenate.chat.EMSessionManager.clearLastLoginUser(Unknown Source:6)
W/System.err( 6257): 	at com.hyphenate.chat.EMClient.logout(Unknown Source:24)
W/System.err( 6257): 	at com.hyphenate.chat.EMClient.logout(

[2020-05-14 03:32] apex-wang commented on #97
默认离线推送都是允许的

[2020-05-14 03:33] apex-wang commented on #100
漫游消息的API 我们之前都已经封装好了  漫游消息是增值服务 需要付费开通后才能用

[2020-05-27 05:01] wva37254626 opened #135 "官方demo报错"
用android studio运行im_flutter_sdk 报错:
The built failed likely due to AndroidX incompatibilities in a plugin. The tool is about to try using Jetfier to solve the incompatibility.
✏️  Creating `android\settings_aar.gradle`...
[!] Flutter tried to create the file `android\settings_aar.gradle`, but failed.
To manually update `settings.gradle`, follow these steps:

    1. Copy `settings.gradle` as `setti

[2020-06-18 05:03] shaoting0730 opened #139 "iOS编辑报错"
iOS编辑报错
一开始出现
![image](https://user-images.githubusercontent.com/14305431/84980157-e334fa00-b163-11ea-85af-3e549802c9dd.png)
我修改为1.0.0
重新pod install
出现
![image](https://user-images.githubusercontent.com/14305431/84980222-0d86b780-b164-11ea-9bb7-9a793e7ae626.png)

[2020-07-10 00:01] yuanbin-dev opened #141 "emoj"
希望尽快有emoj功能，期待。

[2020-07-10 02:49] waitwalker opened #142 "这个还在维护吗?"
安卓端跑起来各种问题,希望能及时更新维护一下!

[2020-07-13 10:19] dujiepeng commented on #142
好的。

[2020-07-15 15:15] cy0131 opened #143 "消息已送达，删除单条消息的功能能优先加上吗？"

[2020-07-15 15:22] FuDongHai commented on #143
是指在聊天页面中添加删除单条消息的功能吗？
em_conversation.dart里面有提供删除消息的api，  void removeMessage(String messageId) {}

消息已送达------近期会考虑添加

[2020-07-16 01:16] cy0131 commented on #143
谢谢，我去看看，昨天翻了好久的文档都没找到

[2020-07-16 08:49] araisann opened #144 "打包后调用环信就闪退，不打包正常"
![捕获](https://user-images.githubusercontent.com/48575305/87650195-d962de80-c783-11ea-938c-5f9718691090.PNG)

不打release包一切正常，打包调用就闪退。
相关log如图，也没有Didn't find。
试了试把so包限制在
`
ndk {
    abiFilters 'armeabi-v7a'
}
`
情况依旧。

[2020-07-16 11:16] araisann commented on #144
好吧，解决了。R8压缩的问题。
flutter build apk --no-shrink
打包时不要开R8压缩就好。或者去代码中关闭。

[2020-07-16 11:16] #144 closed, assigned to nobody

[2020-07-17 11:13] FuDongHai commented on #142
@waitwalker 发一下具体的问题吧，这边看下

[2020-07-20 06:30] araisann opened #145 "Flutter端支持自定义消息吗？"
已经上线的web相关端，都是通过自定义消息在收发。
看了看flutter端不支持自定义消息，自定义消息发过来，onMessageReceived的body都是null。

[2020-07-21 02:43] lyyqyx opened #146 "官方Demo报错"
FAILURE: Build failed with an exception.

* Where:
Script 'C:\Users\lyy\FlutterGitSource\flutter\packages\flutter_tools\gradle\flutter.gradle' line: 362

* What went wrong:
A problem occurred configuring project ':shared_preferences_linux'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

*

[2020-07-21 05:57] lyyqyx commented on #146
C:\Users\lyy\IM\im_flutter_sdk-dev\example\android\app\src\main\java\com\easemob\im_flutter_sdk_example\call\EMCallPlugin.java:40: ����: [deprecation] FlutterPluginBinding�е�getFlutterEngine()�ѹ�ʱ
        channel = new MethodChannel(binding.getFlutterEngine().getDartExecutor(), CALL, JSONMethodCodec.INSTANCE);
                                           ^
C:\Users\lyy\IM\im_flutter_sdk-dev\example\

[2020-07-21 09:07] apex-wang commented on #135
The built failed likely due to AndroidX incompatibilities in a plugin  是指插件中的AndroidX不兼容  检查一下是否有使用support库 或者是版本问题引起的？

[2020-07-27 08:21] dreamfly32 opened #147 "请尽快更新pub版本"
用pub上的v1版本，首先会报minSdkVersion问题，改为19就可以了，接着还会报错，看图
![image](https://user-images.githubusercontent.com/32086491/88519038-0c2e9180-d024-11ea-88d5-a7cd0635dfc2.png)

换git拉取依赖的方式没问题。

文档稀碎就算了，起码得能用吧，估计开发人员是搞原生的吧，但是用flutter的人有多少会原生的，他们不懂配置问题，你们能不能写清楚点。看看隔壁融云，同样也是flutter版，要文档有文档，要回复有回复，要不是公司已经有业务在用，真想转了，唉~

[2020-07-27 08:23] dujiepeng commented on #147
@dreamfly32 收到，近期会更新一版。

[2020-07-27 08:23] #147 closed, assigned to nobody

[2020-07-28 03:02] cy0131 commented on #143
请问 ” 消息已送达“  加上了吗？

[2020-07-28 03:03] cy0131 commented on #143
应该还有一个”消息已读“功能吧，这个我们也需要

[2020-08-08 23:56] janjon opened #148 "安卓编译报错"
/Users/lzz/Documents/projects/openSource/im_flutter_sdk/android/src/main/java/com/easemob/im_flutter_sdk/EMChatRoomManagerWrapper.java:3: 错误: 程序包android.support.annotation不存在
import android.support.annotation.NonNull;
                                 ^
/Users/lzz/Documents/projects/openSource/im_flutter_sdk/android/src/main/java/com/easemob/im_flutter_sdk/EMChatRoomManagerWrapper.java:177: 错误: 找不到

[2020-08-14 10:47] apex-wang commented on #124
这应该是android项目那边有缓存问题 可以尝试清理缓存

[2020-08-14 10:53] apex-wang commented on #131
sdk 退出时 底层有调用过powermanager相关操作 wakelok 是在init() 接口中获取的，也没有地方释放。所以这个问题还是没有初始化sdk导致的

[2020-08-14 10:55] apex-wang commented on #142
安卓端跑起来各种问题 大部分是因为环境问题 我自己这边跑没什么问题 需要看你这边报什么异常

[2020-08-14 11:04] apex-wang commented on #146
第一个问题 可以参考https://stackoverflow.com/questions/63227732/a-problem-occurred-configuring-project-shared-preferences-linux  Flutter sdk版本太低了
第二次提交的 都是些警告 这个在新提交的版本中已经修改过时的api  部分api做了判断在高版本用新的api 旧版本还是用之前旧的api  run里面会提示警告但这并不会影响什么

[2020-08-14 11:07] apex-wang commented on #148
我们EMChatRoomManagerWrapper里面没有用到v4啊

[2020-08-19 03:16] apex-wang commented on #145
可以 考虑加到 ext扩展里面

[2020-08-20 13:47] mingchaogui opened #150 "清空聊天记录无效"
EMConversation.clearAllMessages()，重新加载消息依然存在。

[2020-08-21 04:07] 17y opened #151 "Android离线推送无法集成"
作为非Android developer配置离线推送真的太难了

本身项目有推送需求 用的是MobPush
现在在Manifest中配置
`<meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=102307921"/>`
但是在执行过程中读取到的是 "102307921" 根据环信SDK的读取方法 既没有"="也不是Int 最终读到的值是0

W/Bundle: Key com.huawei.hms.client.appid expected Integer but value was a java.lang.String.  The default value 0 was returned.

求助一下T.T

[2020-08-24 07:57] surrenderios opened #152 "消息列表方法实现问题"
文档中明确说了不要移除或者增加元素:
[code]
这个方法调用了 map.remove(k);
[code]
修改实现为:
[code]

[2020-08-24 08:45] apex-wang commented on #150
我这边调自己demo的api 会话对象的本地聊天记录都会被删除 除非你那边是调拉去漫游消息的api  重新加载从服务端拉取的消息

[2020-08-24 09:03] bingo commented on #152
Good point! 您可以提交个PR，thanks for your contribution.

[2020-08-25 08:33] kazeik opened #153 "Unhandled Exception: MissingPluginException(No implementation found for method registerConferenceSharedManager on channel com.easemob.im/em_conference_manager)"
通过Git方式引入资源，
然后运行起来后，就报了这个错误

[2020-09-03 04:35] apex-wang commented on #145
目前android这边的自定义消息已经实现并提交  ios的近期也会完成并提交

[2020-09-04 09:25] mingchaogui commented on #145
请尽快更新iOS SDK，需要用到。

[2020-09-04 09:25] mingchaogui commented on #145
请尽快更新iOS SDK，需要用到。

[2020-09-07 13:34] once10301 opened #157 "EMConversation里的extField请加上set方法"

[2020-09-08 04:15] apex-wang commented on #157
extField 非私有属性 通过EMConversation对象就可以调用 并赋值

[2020-09-08 04:24] apex-wang commented on #151
试试如果将mobpush的配置先注释了  直接在环信这边进行配置 获取到的appid是什么

[2020-09-08 09:10] once10301 commented on #157
直接赋值以后用EMClient.getInstance().chatManager().getAllConversations()取出来的EMConversation里的extField还是空字符串，我需要用这个字段来做置顶操作

[2020-09-09 02:18] apex-wang commented on #157
好的 我明白你的意思了 直接赋值只是给flutter这边赋值 getAllConversations是从原生那边获取将数据传递给flutter 这时候是拿不到扩展属性的 这个我们这边加一下

[2020-09-09 03:37] once10301 commented on #157
嗯嗯，非常感谢，加上以后可不可以来这边通知我一下

[2020-09-12 07:19] LeoAiolia opened #160 "混合开发，如何集成到Module里？"
目前module文件引入依赖后：
[code]
flutter attach没问题，但是`flutter build ios-framework`会报错

![图片](https://user-images.githubusercontent.com/16910025/92990038-4340ff80-f50b-11ea-8dad-33ca90ee244a.png)

[2020-09-12 07:26] LeoAiolia commented on #160
找到原因了，是我module配置的最低支持版本是8.0，而SDK的最低版本是9.3

[2020-09-12 07:26] #160 closed, assigned to nobody

[2020-09-17 02:26] apex-wang commented on #145
自定义消息已经提交完毕

[2020-09-18 07:41] AcYangle opened #161 "iOS设置apns证书名的问题"
作者请教一下
void initIM() {
    EMOptions options = new EMOptions(appKey: Config.getIMAPPKey());
    EMPushConfig config = new EMPushConfig();
    config.enableAPNS(Config.getIMApns());
    config.enableMiPush(
        Config.getXiaoMiPushAppId(), Config.getXiaoMiPushAppKey());
    config.enableHWPush();
    options.setPushConfig(config);
    EMClient.getInstance().init(options);
    EMClient.getInstan

[2020-09-21 02:34] mingchaogui commented on #150
这个问题仅在iOS上出现，Android是没问题

[2020-09-21 02:37] mingchaogui commented on #150
目前暂时先通过删除会话再重新创建的方式来清除聊天记录

[2020-09-21 02:48] mingchaogui commented on #150
目前还发现一个问题是，clearAllMessages会导致会话被删除，下次loadAllConversations不会在加载到这个会话

[2020-09-21 03:07] bingo commented on #150
@dujiepeng 麻烦看下iOS侧的问题

[2020-09-21 03:08] bingo commented on #85
@傅东海 已经解决？ 请及时关闭相应的issue

[2020-09-21 03:10] bingo commented on #97
@杜洁鹏 @Mygithubyouknow 这个事情有结论吗？需不需要fix？

[2020-09-21 03:11] bingo commented on #99
#85 duplicated, close this one.

[2020-09-21 03:11] #99 closed, assigned to FuDongHai

[2020-09-21 03:13] bingo commented on #100
@Mygithubyouknow 是否可以关闭了？

[2020-09-21 03:16] bingo commented on #152
@dujiepeng review contributor's PR and merge it if accepted.

[2020-09-21 03:17] bingo commented on #146
@Mygithubyouknow Shall we just close this now?

[2020-09-21 03:18] bingo commented on #145
@Mygithubyouknow just close it! (Link pull request would be appreciated)

[2020-09-21 03:19] bingo commented on #143
@dujiepeng @FuDongHai keep tracking and update!

[2020-09-21 03:20] bingo commented on #131
@Mygithubyouknow close it?

[2020-09-21 03:21] bingo commented on #124
@Mygithubyouknow close it?

[2020-09-21 05:58] apex-wang commented on #97
这些都已经改过了 最新的应该没有这些问题了

[2020-09-22 04:28] mingchaogui opened #162 "如何将图片消息的图片改成上传到其他方的服务"

[2020-09-23 08:55] Yanxiaohu opened #163 "集成华为推送，没有收到错误码。但是token 没有注册成功。"
日志里只能收到，下面两条提示。

[EMPushHelper] isSupportPush: HMSPUSH - true
[EMPushHelper] EMPushHelper register, prefer push type: HMSPUSH

[2020-09-24 03:41] AcYangle commented on #161
![image](https://user-images.githubusercontent.com/15205440/94097756-b0348d80-fe59-11ea-8238-663e4ab24c54.png)
![image](https://user-images.githubusercontent.com/15205440/94097944-1caf8c80-fe5a-11ea-90f4-4a85bce4ee5f.png
最近又发现一个情况，我用图一代码设置推送为发送详细内容，图2中的信息可看出，iOS测试机能够设置上，安卓测试机不成功，另外图二也标出了iOS丢失apns证书的情况，此问题已困扰我许久，希望能够尽快帮助我解决或排查一下，谢谢了

[2020-09-24 08:08] apex-wang commented on #163
华为注册token的代码需要你这边在原生成功登录后去调用

[2020-09-24 08:14] #145 closed, assigned to nobody

[2020-09-24 08:18] #152 closed, assigned to dujiepeng

[2020-09-25 02:39] apex-wang commented on #148
我们新发的版本都是用的androidx 你可以全部把support切换到androidx  或者重新拉最新的版本下来

[2020-09-25 02:49] apex-wang commented on #150
![22](https://user-images.githubusercontent.com/22721647/94220951-bf304400-ff1c-11ea-9134-b9e75588172a.png)

[2020-09-25 07:02] apex-wang commented on #161
![1111](https://user-images.githubusercontent.com/22721647/94236543-fe23c100-ff3f-11ea-9609-d1a653701aac.png)
android不成功是因为之前android原生那边的sdk中 没有这个api   android这个api是后面才加上的 flutter这边还没更新

[2020-09-25 08:02] AcYangle commented on #161
收到，感谢回复，iOS方面的问题，我已提取日志文件提交到工单回复

[2020-09-25 08:04] #100 closed, assigned to apex-wang

[2020-09-25 08:04] #97 closed, assigned to nobody

[2020-09-25 08:05] #124 closed, assigned to nobody

[2020-09-25 08:05] #135 closed, assigned to nobody

[2020-09-25 08:05] #146 closed, assigned to nobody

[2020-09-25 08:06] #131 closed, assigned to nobody

[2020-09-25 08:06] #142 closed, assigned to nobody

[2020-09-25 09:55] apex-wang commented on #161
新加的api 我们这边后面都会加上

[2020-09-25 09:56] apex-wang commented on #157
Flutter 和 android这边都已实现  等ios同事加一下就行了

[2020-09-25 10:54] AcYangle commented on #161
近期有更新计划吗

[2020-09-25 11:17] dujiepeng commented on #161
@AcYangle 有，会优先把这几个isuees修复。

[2020-09-30 05:45] niteapps opened #165 "集成环信后，apk增加50多M，有办法减小apk吗？"
集成环信，没有加推送，只是打包'arm64-v8a', 'armeabi-v7a'两种，没有加x86, apk文件仍增加了50多M。

用sdk里面的demo example编译打包，也有52M（去掉推送功能，没有包含x86）

请问有什么办法可以减小apk吗？ 本来apk才30M，增加环信就到了80多M了

[2020-09-30 06:15] niteapps commented on #165
如果只打包 'armeabi-v7a'，我原来apk大小11M，增加环信后也达到了34M多

[2020-09-30 06:44] apex-wang commented on #165
你是本地单独依赖的jar和so吗？我们的so分为lite版和av版
lite版指不包含音视频的so 这个会相对小点 可以自己在官网下载so去查看大小
av版指包含音视频的so 音视频的so文件都比较大 armeabi-v7a 大概6.5mb  arm64-v8a大概10.6mb
x86大概11.6mb  x86_64大概 11.7mb
如果要控制大小 可以先看自己是否需要用到音视频相关的功能 如果不需要可以使用lite版的so 这样可以减少很多
如果需要用音视频 可以选择合适的CPU架构类型的so 多余或者用不到的可以全部去掉  打包时配置混淆减少apk体积

[2020-09-30 07:37] niteapps commented on #165
不是本地单独依赖jar和so，直接git  im_flutter_sdk。
im_flutter_sdk是依赖的api 'com.hyphenate:hyphenate-sdk:3.7.1'吧

[2020-09-30 08:01] baohangxing opened #166 "调用loginWithToken出现sdk内部错误 [JSONException] No value for password"
[code]

I/flutter (11230): ============================================ 请求数据 ================================================
I/flutter (11230): data = null
I/flutter (11230): queryParameters = {}
I/flutter (11230): method = POST
I/flutter (11230): headers = {Content-Type: application/json, Authorization: Bearer aeb58c11-cd0e-4856-8d07-e052467ffe2d}
I/flutter (11230):
I/flutter (11230): ==========

[2020-09-30 08:37] apex-wang commented on #165
远程仓库这个是用的av版so 肯定比较大  原生那边可以替换成jar和so依赖 自行控制加载cpu架构类型so  打包时在加上混淆

[2020-10-09 02:37] apex-wang commented on #166
不好意思 这里是调错api了  您这边可以先在em_client.dart里面换一下EMSDKMethod.loginWithToken​  我们这边已经修改过了 下次提交代码会同步上去

[2020-10-09 04:25] #151 closed, assigned to nobody

[2020-10-09 05:29] baohangxing commented on #166
嗯好

[2020-10-09 10:30] sec7et opened #167 "调用getUnreadMessageCount()方法后没有返回，也没有报错。"
em_chat_manager.dart文件下，
[code]

Map<String, dynamic> result = await _emChatManagerChannel.invokeMethod(EMSDKMethod.getUnreadMessageCount);
主要是这段代码突然获取不到返回值了，在 result这行 和下面的 if 判断 都打了断点，发现无法进入到 if 这一行的断点去。有什么问题会导致这情况发生吗？

[2020-10-10 09:05] surfsky opened #168 "ios 编译失败"
[!] CocoaPods could not find compatible versions for pod "im_flutter_sdk":
      In Podfile:
        im_flutter_sdk (from `.symlinks/plugins/im_flutter_sdk/ios`)

    Specs satisfying the `im_flutter_sdk (from `.symlinks/plugins/im_flutter_sdk/ios`)` dependency were found, but they required a higher minimum deployment target.

[2020-10-10 11:08] apex-wang commented on #167
你这边可以先切换到android 然后在EMChatManagerWrapper中断点 看flutter这边有没有通过onMethodCall去调用原生getUnreadMessageCount方法 或者说这中途有遇见什么错误 原生获取到数据后通过result返回给flutter
![截图](https://user-images.githubusercontent.com/22721647/95653556-24468500-0b2c-11eb-8df2-a3187ad8bc96.png)

[2020-10-12 01:25] surfsky commented on #168
有谁解答一下吗？示例程序编译不通过，不知道怎么玩，可能就要换其它 IM 服务了

[2020-10-12 02:38] dujiepeng commented on #168
@surfsky 有执行flutter packages get 么？

[2020-10-12 10:19] sec7et commented on #167
OK，后来我检查了，发现是iOS这边的EMChatManagerWrapper中，没有实现获取未读消息数的方法，有点尴尬。自己实现了一下。

[2020-10-13 02:06] panzhoutao opened #169 "消息没有默认推送"
消息到达没有消息提醒

[2020-10-13 02:54] apex-wang commented on #167
好的 感谢您的反馈 我这边已经修复了 下一次发版会加上

[2020-10-13 02:56] sec7et commented on #167
好的，辛苦了，谢谢。

[2020-10-13 02:56] #167 closed, assigned to nobody

[2020-10-13 06:23] mingchaogui opened #170 "撤回消息失败，code 500"
desc: Message is invalid

[2020-10-13 06:34] apex-wang commented on #170
您好 消息无效 您这边可以把要撤回的这个message打印一下 看看这个message是否有问题

[2020-10-13 06:36] apex-wang commented on #170
检查一下 message is invalid 是消息id 或者body 为空，或者from不是登录用户时提示的

[2020-10-13 09:12] dreamfly32 opened #171 "自定义消息问题"
创建自定义消息中，参数params作为字典，我传入数组作为value，但在聊天记录加载的时候，数组变成了字符串。。。

[2020-10-14 08:03] mingchaogui commented on #170
![20201014160205](https://user-images.githubusercontent.com/5003855/95960709-aa1d4580-0e36-11eb-8679-9d667d03522f.jpg)

现在是无Success也无Error回调了。EMMessage对象如图。

[2020-10-14 08:34] mingchaogui commented on #170
![20201014163340](https://user-images.githubusercontent.com/5003855/95964118-0aae8180-0e3b-11eb-8b92-61a9f4de04ee.jpg)

注意到刚才的消息没有_conversationId，这是重新从数据库载入后的。问题一样。

[2020-10-14 08:36] mingchaogui commented on #170
我们的环信是企业版服务

[2020-10-15 04:34] panzhoutao opened #172 "ios自定义消息params为null"
安卓正常，但是ios的params是null

[2020-10-16 03:53] mingchaogui opened #173 "iOS端发送自定义消息，接收方收不到非String类型的value"

[2020-10-16 04:02] mingchaogui commented on #173
这个Bug应该是最近更新才出现的，之前版本测试没发现此问题。可以紧急修复下吗？

[2020-10-16 10:02] dujiepeng commented on #173
@mingchaogui 你好，发送的内容是什么？

[2020-10-16 10:27] mingchaogui commented on #173
类似这样的数据，接收端只能接收到String类型的值
{
"boolTest": false,
"intTest": 1,
"doubleTest": 1.0,
"id": "abcd",
}

[2020-10-16 10:28] mingchaogui commented on #173
到接收端就剩下
{
"id": "abcd",
}

[2020-10-16 10:31] dujiepeng commented on #173
@mingchaogui 刚查了下，这个是ios sdk的问题。 不是flutter层的，所以要等ios sdk修复。 您如果比较紧急可以先转成string，sdk更新后我会在这里回复。

[2020-10-16 11:01] dujiepeng commented on #173
@mingchaogui  刚刚和同事确认了，custom消息中的params只支持string类型。故此暂不做修复。

[2020-10-16 11:01] #173 closed, assigned to nobody

[2020-10-19 03:25] apex-wang commented on #170
这块处理有点问题 我们这边下个版本进行修复并提交 或者你可以自己先改一下 撤回是增值服务 需要有开通此功能才可以用

![截图1](http://user-images.githubusercontent.com/22721647/96398464-870be080-11fe-11eb-8862-da6ab14d2bdd.png)

[2020-10-19 03:40] apex-wang commented on #169
目前的版本ui中还未实现 消息通知栏这部分功能 后期我们会加上  这个在线消息通知实际上是调本地通知的方法  我们这边暂时只做了第三方离线推送通知的功能  可以看看这个flutter_local_notifications插件 后期我们应该会用该插件来实现 或者我们自己封装

[2020-10-19 03:43] apex-wang commented on #171
原生sdk中params Map对象的类型固定是String  下个版本我们这边会在flutter这边直接指定String类型

[2020-10-19 04:11] apex-wang commented on #172
你ios params传的类型是String的吗？  原生那边该参数类型为Map<String,String>

[2020-10-19 05:36] panzhoutao commented on #172
是，安卓是正常的，只有ios不行

[2020-10-19 06:18] apex-wang commented on #172
是用的最新提交的代码吗？

[2020-10-19 06:23] panzhoutao commented on #172
是的

[2020-10-19 07:09] surfsky commented on #168
执行了 flutter packages get

改了platform :ios, '9.0' 后错误变为

CocoaPods could not find compatible versions for pod "flutter_sound":
      In Podfile:
        flutter_sound (from `.symlinks/plugins/flutter_sound/ios`)

    Specs satisfying the `flutter_sound (from `.symlinks/plugins/flutter_sound/ios`)` dependency were found, but they required a higher minimum deployment target.

[2020-10-19 07:20] surfsky commented on #168
感觉就是依赖有问题，怎么配置pod都出错，能否调测修正一下？我是新手，实在无解，谢谢

[2020-10-19 07:54] #171 closed, assigned to nobody

[2020-10-19 09:42] dujiepeng commented on #168
@surfsky 试试修改example项目pubspec.yaml的flutter_sound为4.0版本
dependencies:
  flutter_sound: ^4.0.0

[2020-10-20 10:44] #148 closed, assigned to nobody

[2020-10-20 10:44] #157 closed, assigned to dujiepeng

[2020-10-20 10:45] #166 closed, assigned to nobody

[2020-10-20 13:26] #165 closed, assigned to nobody

[2020-10-29 03:11] mingchaogui opened #174 "iOS没有推送"
在Mac上用Push Notification - Tester测试可以推送成功，但通过环信发的消息则没有推送。
已在后台证书配置证书。
调用getPushConfigs、getPushConfigsFromServer会导致App闪退。

[2020-10-29 07:30] mingchaogui opened #175 "集成Oppo推送时出错"
java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.pm.PackageManager android.content.Context.getPackageManager()' on a null object reference
        at com.heytap.mcssdk.d.a(Unknown Source:7)
        at com.heytap.mcssdk.d.l(Unknown Source:6)
        at com.heytap.mcssdk.d.n(Unknown Source:0)
        at com.heytap.msp.push.HeytapPushManager.isSupportPush(Unknown Sour

[2020-10-29 07:39] mingchaogui commented on #175
1)应用必须要调用init(...)接口，才能执行后续操作。

2)由于不是所有平台都支持OPPO PUSH，提供接口HeytapPushManager.isSupportPush()方便应用判断是否支持,支持才能执行后续操作。

3)通过调用HeytapPushManager.register(...)进行应用注册，注册成功后,您可以在ICallBackResultService的onRegister回调方法中得到RegId,您可以将RegId上传到自己的服务器，方便向其发消息。初始化相关参数具体要求参考详细API说明中的初始化部分。

4)为了提高push的注册率，你可以在Application的onCreate中初始化push。你也可以根据需要，在其他地方初始化push。如果第一次注册失败,第二次可以直接调用PushManager.getInstance().getRegister(

[2020-10-29 07:51] mingchaogui commented on #175
目前可自行在Application#onCreate()添加以下代码解决：

HeytapPushManager.init(this, BuildConfig.DEBUG)

[2020-10-30 08:50] #174 closed, assigned to nobody

[2020-11-03 10:40] AcYangle commented on #169
请问这个问题什么时候更新呀

[2020-11-03 12:09] mingchaogui opened #177 "小米推送、Vivo推送的通知显示不正确"
如图，标题和内容皆为“用户：消息“。TItle正确值应为用户名，正文为消息。
APNS则正常。

![Screenshot_2020-11-03-20-06-02-184_com miui home](https://user-images.githubusercontent.com/5003855/97983559-6d7ab380-1e10-11eb-9da1-c2fd1f2f2266.jpg)

[2020-11-10 03:18] apex-wang commented on #177
Android和ios的实现不同 android的是title+content的方式 而ios只有一个content 通过api去显示详情 android这边默认title和content一样 如果需要区分 可以自己在发消息的时候加上对应的扩展字段em_push_name和em_push_content去展示

[2020-11-10 03:25] apex-wang commented on #175
好的 感谢您的反馈 这个问题是已知问题 我们代码改了还未提交 用户可以先自己在应用层初始化一下 我们后面会更新代码

[2020-11-11 04:26] mingchaogui commented on #177
自定义push_name和push_content后，apns又只能看到content了。有什么兼容的办法吗？另外，还有其他可以自定义的扩展字段吗？

[2020-11-19 09:02] dante312 opened #178 "打包开启混淆，直接闪退，不调用环信初始化正常"

[2020-11-20 04:08] apex-wang commented on #178
您好 混淆文件您这边是怎么配置的？闪退的时候报的异常信息可以提供一下我们看看

[2020-11-20 04:08] #175 closed, assigned to nobody

[2020-11-20 05:23] dante312 commented on #178
已解决，在混淆文件中添加如下，打包后正常，谢谢！
-keep class com.hyphenate.chat.core.EMConnectionManager* {*;}
-keepclassmembers class com.hyphenate.chat.core.EMDBManager${*;}
-keepclassmembers class com.hyphenate.chat.core.EMMonitorDB${*;}
#-keep class com.hyphenate.chat. {;}
-keep class com.hyphenate.chat.adapter.** {*;}
-keep class internal.org.apache.http.entity.** {*;}
-keep class org.apache.** {*;}
-keep class com.

[2020-11-20 05:23] #178 closed, assigned to nobody

[2020-11-20 09:04] mingchaogui commented on #150
就是clearAllMessages，今天测试问题依旧存在

[2020-11-23 06:13] mingchaogui commented on #177
https://stackoverflow.com/questions/8320065/setting-the-title-of-a-push-notification
https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/generating_a_remote_notification

查阅资料得知iOS是可以支持Title设置的，我看到很多APP通知也是有Title的，希望环信这边可以支持一下。

[2020-11-23 06:16] mingchaogui commented on #150
@dujiepeng @Mygithubyouknow 可以关注下这个问题吗

[2020-11-24 04:14] apex-wang commented on #150
@mingchaogui clearAllMessages的问题是ios测设置不生效还是什么问题？ 上次这个问题描述目前还发现一个问题是，clearAllMessages会导致会话被删除，下次loadAllConversations不会在加载到这个会话。
我截图有注释的clearAllMessages会清除数据库和内存中的消息  clear只清除内存的，不清除db的消息

[2020-11-24 07:01] mingchaogui commented on #150
最新确认的是，我在iOS上使用clearAllMessages但并没有清除db。

[2020-11-28 23:40] gaoobin commented on #175
问题都没解决怎么就关闭了呢？

[2020-12-01 02:39] apex-wang commented on #175
问题没解决？是集成后没收到推送 还是有报错？ 看你提供的异常信息与另一个客户提供的完全一致 而且那个客户加了初始化后应该就没有这个报错了才对，我这边以为已经解决了 实在不好意思  目前是什么现象了？

[2020-12-04 06:07] Feng3364 opened #179 "iOS9 pod install报错，提示SDK必须高于该版本，当前版本不支持iOS9了吗"
最新代码拉下来
使用本地SDK：podfile里面改成platform :ios, '9.0'->pod install报错
![image](https://user-images.githubusercontent.com/33592584/101127272-2f9fc380-3638-11eb-8e4d-9c030b276f4b.png)

使用git-url：运行报错
![image](https://user-images.githubusercontent.com/33592584/101128106-ed778180-3639-11eb-9a0c-eebb38ac34c3.png)

[2020-12-07 23:51] ixre commented on #179
只能最低10.0

[2020-12-12 09:01] TerryAsh opened #181 "视频消息，没有thumbnail"
视频消息，没有thumbnail

[2020-12-14 09:47] niyangup commented on #169
啥时候更新鸭

[2020-12-16 03:11] apex-wang commented on #169
不好意思 这个估计还得等一段时间 我们这边近期是在改sdk方面之前写的不太合理的地方 并且新发了一个分支alpha， ui和 缺失的部分功能 我们后期会补上

[2020-12-21 09:42] TerryAsh commented on #169
ios 推送消息接受有什么办法吗

[2020-12-30 08:28] caofuqing commented on #143
收到消息后 给对方发送反馈这个现在有了吗?

[2021-01-04 12:23] panzhoutao opened #185 "你们是不是不准备更新了？"
你们是不是不准备更新了？

[2021-01-04 12:27] dujiepeng commented on #185
@panzhoutao  目前在alpha分支更新，后续会全部切到这个分支，旧版本就会停止维护。 alpha分支对api进行了重构。如果您用的是旧版本的，会出现不兼容的情况。旧分支并不会下，但是新功能不再添加。

[2021-01-04 13:14] #185 closed, assigned to nobody

[2021-01-05 02:53] jb522185660 opened #186 "Flutter alpha版本无法监听消息是否发送成功"
通过EMClient.getInstance.chatManager.sendMessage如何监听消息发送成功，这个方法的回调里面返回的消息信息里面，消息的状态是EMMessageStatus.CREATE。
master 版本里面，可以通过onSuccess可以监听消息发送成功
另外发送视频语音消息，又是如何监听发送的进度？

[2021-01-05 02:58] dujiepeng commented on #186
这个listener放到了EMMessage中，这样的实现主要是因为考虑到，只更新消息对应的widget就可以，而不需要刷新全部的ChatPage

`EMMessageStatusListener listener;`

[code]

[2021-01-05 03:06] #186 closed, assigned to nobody

[2021-01-05 07:03] jb522185660 opened #187 "Flutter alpha版本，发送视频消息成功以后，获取的消息body缺少内容"
您好，发送视频的时候，在消息监听器onSuccess里面，监听到的消息body以下内容
thumbnailLocalPath
thumbnailRemotePath
remotePath
都为空

[2021-01-06 05:06] dujiepeng commented on #187
@jb522185660 您好，已经做了修复，您可以试下。这个issue我先关闭，您有问题可以继续开新的。

[2021-01-06 05:06] #187 closed, assigned to dujiepeng

[2021-01-07 03:55] #181 closed, assigned to nobody

[2021-01-07 03:58] dujiepeng commented on #179
alpha分支可以使用9.0

[2021-01-07 03:58] #179 closed, assigned to nobody

[2021-01-07 03:59] dujiepeng commented on #172
只支持<String, Stringl>类型。

[2021-01-07 03:59] #172 closed, assigned to nobody

[2021-01-09 01:33] jb522185660 opened #195 "Flutter alpha 发送自定义消息的时候报错"
Flutter alpha 发送自定义消息的时候报错
em_message.dart 786行
this.params = map['params'];应该改为
this.params = map['params'].cast<String, String>();
否则类型不一致报错，消息发不出去

[2021-01-11 02:51] #195 closed, assigned to dujiepeng

[2021-01-11 03:00] dujiepeng commented on #195
@jb522185660 thx.

[2021-01-11 05:58] MEnigma opened #197 "iOS 获取某个不存在的会话时crash"
EMChatManagerWrapper.m l:201~204

    NSString *conId = param[@"con_id"];
    EMConversationType type = [EMConversation typeFromInt:[param[@"type"] intValue]];
    BOOL needCreate = [param[@"createIfNeed"] boolValue];
    EMConversation *con = [EMClient.sharedClient.chatManager getConversation:conId
                                                                        type:type

[2021-01-19 08:35] baobaocui commented on #168
1.需要把podfile里面改为  platform :ios, '10.0'。因为flutter_sound最低支持9.3
2.用xcode打开Runner项目。TARGETS-General-Deployment Info 里把版本改为最低支持10.0

[2021-01-21 01:20] jb522185660 opened #206 "Flutter alpha版本的安卓推送功能的代码缺少"
Flutter alpha版本的安卓推送功能的代码缺少
EMOptionsHelper的static EMOptions fromJson(JSONObject json) throws JSONException方法里面，应该加入类似
JSONObject pushConfig = json.getJSONObject("pushConfig");
EMPushConfig.Builder builder = new EMPushConfig.Builder(EMOptionsHelper.context);
boolean enableMiPush = pushConfig.getBoolean("enableMiPush");
if(enableMiPush == true) {
    String miAppId = pushConfig.getString("miAppId")

[2021-01-21 09:52] #206 closed, assigned to dujiepeng

[2021-01-21 09:52] dujiepeng commented on #206
@jb522185660  已经添加这部分实现。

[2021-01-22 01:54] jb522185660 opened #208 "昨天的commit还没有加入sendHMSPushTokenToServer的方法"
昨天的commit还没有加入sendHMSPushTokenToServer的方法

[2021-01-22 01:55] jb522185660 commented on #206
@dujiepeng sendHMSPushTokenToServer这个上传华为token到环信服务器的方法，还没有桥接

[2021-01-22 03:28] wangxinjeff commented on #208
推送都是放在原生去集成的，sendHMSPushTokenToServer不需要去封装flutter的api的，你在原生获取到华为的推送token之后调用原生的sendHMSPushTokenToServer去上传就可以。流程就是flutter登录成功到主界面之后通过channel通知原生，原生这边再去注册华为推送获取推送token上传

[2021-01-22 06:45] jb522185660 commented on #208
获取华为推送token华为那边有个flutter的工具可以获取到，就是这一步《流程就是flutter登录成功到主界面之后通过channel通知原生》，这一步SDK可以实现吧？

[2021-01-22 06:48] jb522185660 commented on #208
在下面文件加入以下代码
em_sdk_method.dart
static const String sendHMSPushTokenToServer = 'sendHMSPushTokenToServer';
em_client.dart
Future sendHMSPushTokenToServer(String token) async {
    if(token != null) {
      Map req = {'token': token};
      Map result = await _channel.invokeMethod(EMSDKMethod.sendHMSPushTokenToServer, req);
      EMError.hasErrorFromResult(result);
    }
    return;
  }
EMSDKMethod.

[2021-01-22 06:52] jb522185660 commented on #208
huawei_push: ^5.0.2+301可以直接使用flutter获取华为token,如果flutter sdk里面再增加sendHMSPushTokenToServer方法，就无须写安卓原生代码也可以上传华为token到服务器了

[2021-01-22 07:02] dujiepeng commented on #208
@jb522185660 你说的这个是华为官方的库，如果官方都推荐这样使用，我们这边确实应该加上。不过华为这个操作感觉“比较奇怪”，从原生得到数据，再给原生，而且单独为华为提供一个这样的操作又感觉不通用，毕竟如果用小米，oppo之类手机的这个操作毫无意义，倒不如直接一个开关，然后原生那边控制获取和设置的时机，目前ios就是这样实现的。 @wangxinjeff  能实现我说的这样么？如果实现不了。就优先考虑华为官方的使用方式，提供一个channel来传token。

[2021-01-22 08:33] jb522185660 commented on #208
就提供一个channel传token就可以了

[2021-02-01 09:09] jb522185660 opened #214 "最新版本怎么突然不支持音视频了？"
最新版本怎么突然不支持音视频了？

[2021-02-01 09:12] jb522185660 commented on #214
怎么功能还退步了

[2021-02-08 09:10] dujiepeng commented on #214
@jb522185660 后续会使用声网的音视频集成，这个版本应该在二月底上。

[2021-02-08 09:10] #214 closed, assigned to nobody

[2021-02-09 11:05] AcYangle opened #231 "stable 版本demo iOS打包报错"
![image](https://user-images.githubusercontent.com/15205440/107354826-98f4f480-6b09-11eb-921b-e9c1d6333265.png)

[2021-02-19 02:48] dujiepeng commented on #231
环信ios3.7.4版本不支持armv7指令集，您打包时需要去掉该指令集。

[2021-02-19 05:07] AcYangle commented on #231
已经解决了，我用的xcode12.4版本，配置项目ARCH的方式变了，整了好久

[2021-02-19 05:10] AcYangle commented on #231
另外有个安卓华为离线推送的问题，新版本SDK怎么华为收不到离线推送了？

[2021-02-19 05:15] dujiepeng opened #234 "另外有个安卓华为离线推送的问题，新版本SDK怎么华为收不到离线推送了？"
另外有个安卓华为离线推送的问题，新版本SDK怎么华为收不到离线推送了？

_Originally posted by @AcYangle in https://github.com/easemob/im_flutter_sdk/issues/231#issuecomment-781825617_

[2021-02-19 05:16] #231 closed, assigned to nobody

[2021-02-19 05:19] dujiepeng commented on #141
可以试试我们的stable分支，那个demo上增加了表情。

[2021-02-19 05:19] #141 closed, assigned to dujiepeng

[2021-02-19 05:20] #168 closed, assigned to nobody

[2021-02-19 05:21] #161 closed, assigned to dujiepeng

[2021-02-19 05:22] dujiepeng commented on #231
@AcYangle 这个我来验证下，确定有问题的话我们来修复。
https://github.com/easemob/im_flutter_sdk/issues/234#issue-811698371

[2021-02-19 05:23] dujiepeng opened #235 "> Android和ios的实现不同 android的是title+content的方式 而ios只有一个content 通过api去显示详情 android这边默认title和content一样 如果需要区分 可以自己在发消息的时候加上对应的扩展字段em_push_name和em_push_content去展示"
https://stackoverflow.com/questions/8320065/setting-the-title-of-a-push-notification
https://developer.apple.com/documentation/usernotifications/setting_up_a_remote_notification_server/generating_a_remote_notification

查阅资料得知iOS是可以支持Title设置的，我看到很多APP通知也是有Title的，希望环信这边可以支持一下。

_Originally posted by @mingchaogui in https://github.com/easemob/im_flutter_sdk/issues/177#issuecomment-731949643_

[2021-02-19 05:23] dujiepeng commented on #177
https://github.com/easemob/im_flutter_sdk/issues/235#issue-811702723

[2021-02-19 05:23] #177 closed, assigned to nobody

[2021-02-19 05:24] dujiepeng commented on #170
请使用stable分支。

[2021-02-19 05:24] #170 closed, assigned to nobody

[2021-02-19 05:25] dujiepeng commented on #169
请使用stable分支。

[2021-02-19 05:25] #169 closed, assigned to nobody

[2021-02-19 05:26] dujiepeng commented on #139
请使用stable分支。

[2021-02-19 05:26] #139 closed, assigned to dujiepeng

[2021-02-19 05:26] dujiepeng commented on #85
请使用stable分支。

[2021-02-19 05:26] #85 closed, assigned to dujiepeng

[2021-02-19 05:27] dujiepeng commented on #150
请使用stable分支。

[2021-02-19 05:27] #150 closed, assigned to dujiepeng

[2021-02-19 05:28] dujiepeng commented on #143
请使用stable分支。

[2021-02-19 05:28] #143 closed, assigned to dujiepeng

[2021-02-19 05:28] dujiepeng commented on #153
请使用stable分支。

[2021-02-19 05:28] #153 closed, assigned to dujiepeng

[2021-02-28 11:35] AcYangle opened #236 "stable版本iOS端上传不了token"
经测试是HyphenateLite版本SDK无法上传，
我将其替换为Hyphenate版本就能够上传成功，
请检查一下

[2021-02-28 12:17] AcYangle commented on #236
但是，经测试，现在替换为Hyphenate版本SDK，token虽然也传上去了（我是通过环信rest api“获取单个用户”接口确认的），运行测试依然收不到离线推送，因为要处于离线状态，我就没法看控制台的日志，就不太好定位问题出在什么地方了

[2021-03-04 12:09] dujiepeng commented on #236
@AcYangle 测试了下，demo里没有开启推送。需要在xcode里打开推送。我这边debug了下，可以正常获取到deviceToken和上传。你那边方便debug么？
[code]
可以在xcode里断点看看有走到这个方法么。

[2021-03-04 12:12] AcYangle commented on #236
debug运行我也成功过，但是打包之后就不行了

[2021-03-04 12:23] dujiepeng commented on #236
那是不是证书不匹配，如果debug没问题那就没啥区别了。
[code]
把获取deviceToken失败弹窗看下，这样release也能知道获取失败了。

[2021-03-11 05:53] Xiaobai-1024 opened #241 "Android闪退"
E/AndroidRuntime( 9278): java.lang.NullPointerException: Attempt to invoke virtual method 'long com.hyphenate.chat.EMMessage.getMsgTime()' on a null object reference
E/AndroidRuntime( 9278): 	at com.easemob.im_flutter_sdk.EMChatManagerWrapper.lambda$null$13(EMChatManagerWrapper.java:331)
E/AndroidRuntime( 9278): 	at com.easemob.im_flutter_sdk.-$$Lambda$EMChatManagerWrapper$itmNS2HI9oVhNdNvtMe9BBHx

[2021-03-11 19:24] amorwilliams opened #242 "支持nullsafety"
什么时候支持nullsafety

[2021-03-15 08:58] lovecrossyou opened #243 "小米手机可接受到推送消息，但是 消息代理函数 不执行，（已实现 EMConnectionListener 并注册监听）"
小米手机可接受消息，但是 消息代理函数 不执行

class MyApp extends StatefulWidget {
  @override
  _MyAppState createState() => _MyAppState();
}

class _MyAppState extends State<MyApp>
    implements EMChatManagerListener, EMConnectionListener {
  final FlutterLocalNotificationsPlugin flutterLocalNotificationsPlugin =
      FlutterLocalNotificationsPlugin();

  final BehaviorSubject<ReceivedNotification>
      didReceiv

[2021-03-15 10:27] lovecrossyou commented on #243
sdk  存在问题 ，改为 下面的就好了，😄

![image](https://user-images.githubusercontent.com/6503767/111139323-f6260f00-85bb-11eb-8a7a-d5c4e495c5e6.png)

[2021-03-15 12:08] #236 closed, assigned to nobody

[2021-03-15 12:10] dujiepeng commented on #243
@lovecrossyou 感谢支持，调用EMChatManager时需要使用 `EMClient.getInstance.chatManager`

[2021-03-15 12:10] #243 closed, assigned to dujiepeng

[2021-03-15 12:11] dujiepeng commented on #241
@jonjon-coder 您是调用什么方法是出现的？

[2021-03-15 12:12] dujiepeng commented on #242
@amorwilliams 我们尽快升级。

[2021-03-15 12:34] Xiaobai-1024 commented on #241
创建会话后，一个消息都不要发送，拉取会话列表就会。

[2021-03-16 11:15] dujiepeng commented on #241
@jonjon-coder 在demo里测试了下没有复现，但是您这个crash确实是指向了排序的位置，我加了一个保护，您可以再试试。

[2021-03-17 11:51] bingo opened #247 "聊天室待读消息一直显示（已经进聊天室读完消息了）"
1. 进入通讯录，聊天室，选择一个进入；
2. 返回会话列表，如果此时聊天室里面有新消息，会显示待读消息数角标；
3. 进入聊天室，读完消息后返回会话界面，
4. 角标仍然未消失

iphone 6s， ios14版本

[2021-03-17 11:53] bingo opened #248 "聊天室里面的语音消息无法播放"
iphon6s， ios 14， 聊天室里面的语音留言无法播放，显示语音长度都是正常的。

[2021-03-19 08:24] elricym commented on #248
普通聊天的语音也有问题，ios无法播放，安卓正常

[2021-03-19 09:33] AcYangle opened #251 "ios 发送gif被压缩成静态图片"
iOS发送或接收的GIF图都会被压缩成静态图片，安卓正常，但安卓向iOS发送的GIF，iOS端展示的也是静态图，
调试发现，iOS下载GIF存入本地时，存入的就是静态图，安卓无此问题
另外，demo中发送图片的方式，如果选择的是GIF，会出现反复收到监听回调，导致发送图片刷屏的问题

[2021-03-22 06:38] dujiepeng commented on #251
@AcYangle  目前iOS中有图片压缩，这会导致git变成了jpeg，目前官方的方案是使用fileBody发送，后期会协调native中增加gif类型Body，彻底解决该问题，请持续关注！thx.

[2021-03-24 09:21] dujiepeng commented on #208
@jb522185660 已经添加到alpha，会尽快同步到stable.

[2021-03-24 09:21] #208 closed, assigned to dujiepeng, wangxinjeff

[2021-03-24 14:05] crazecoder opened #259 "android群组踢人"
功能什么时候开发完成，建议目前可以考虑开放踢出单人的方法来暂时替代

[2021-03-25 09:32] tudosxxx opened #260 "能再pub上更新一下吗"
然后弄点例子，比如发送消息方法。发送图片方法。接收的方法

[2021-03-25 11:37] 01098996 opened #261 "消息重发后收不到回调"
消息状态为Create，重发后收不到发送成功的回调。

log

[2021-03-25 13:20] crazecoder opened #262 "文件消息EMFileMessageBody.fileSize一直为0"

[2021-03-29 02:37] dujiepeng commented on #260
@hx269988653  目前在demo中已经有实现，暂时还没有更新到pub.dev上，您可以通过
[code]
方式集成，后续我们会安排更新到pub.dev上。

[2021-03-29 02:37] #260 closed, assigned to nobody

[2021-03-29 02:38] dujiepeng commented on #262
@crazecoder 您是安卓端测试的还是ios？

[2021-03-29 02:44] dujiepeng commented on #259
@crazecoder 如果是循环调用会触发环信的限流，这个问题我先协调Android那边更新，等下个版本安卓更新后flutter也同步更新。

[2021-03-29 06:14] 01098996 opened #265 "更新到最新代码后消息发送异常"
更新前的git commit SHA:  8129d89b4f5cf0045efbff50c5a7b567105b6e30
更新后的git commit SHA:  fe3e6ae09c7d37af25c3ac60a882747ce45e6065

更新后所有返回的消息id均为null

log:
D/ONE SDK (18309): [2021/03/29 14:05:40:203]: Msg already exists in this conversation, do not insert again. msg id: null

[2021-03-29 10:24] crazecoder commented on #262
@dujiepeng android

[2021-03-29 10:26] crazecoder opened #266 "获取免打扰群组列表返回类型问题"
[code]

[2021-03-29 10:30] dujiepeng commented on #265
@01098996 今天有一次修改，可以重新拉取下stable 分支。感谢支持。

[2021-03-29 10:30] #265 closed, assigned to nobody

[2021-03-29 10:33] #241 closed, assigned to dujiepeng

[2021-03-29 10:34] #234 closed, assigned to dujiepeng

[2021-03-29 12:14] crazecoder opened #267 "groupManager.createGroup创建的会话返回type为EMConversationType.Chat"
[code]
打印
[code]
不应该是EMConversationType.GroupChat吗？

[2021-03-29 12:29] dujiepeng commented on #267
@crazecoder 需要在getConversation方法调用时设置类型为GroupChat。
[code]

[2021-03-29 12:29] #267 closed, assigned to nobody

[2021-03-30 03:32] panzhoutao opened #269 "release时候Failed to handle method call"
2021-03-30 11:08:24.701 31579-31579/? E/MethodChannel#com.easemob.im/em_client: Failed to handle method call
    e.a.a.a.b: libhyphenate.so
        at e.a.a.a.a.a(Unknown Source:155)
        at e.a.a.a.d.c(Unknown Source:121)
        at e.a.a.a.d.a(Unknown Source:21)
        at e.a.a.a.c.a(Unknown Source:5)
        at e.a.a.a.c.a(Unknown Source:1)
        at d.f.m.f.y(Unknown Source:13)
        at

[2021-03-30 03:46] 01098996 opened #270 "更新到最新代码后消息发送异常"
#265 修改后出现新bug，发送消息后没有发送成功回调。重新进入会话页面查询刚发送的消息，消息状态是正常的。

[2021-03-30 04:03] dujiepeng commented on #270
@01098996 发消息需要实现EMMessageStatusListener接口，监听消息结束回调。
```msg.setMessageListener(this);```
[code]

[2021-03-30 04:04] 01098996 commented on #270
@dujiepeng 实现了这些接口， easemob/im_flutter_sdk@c5571b8ac5cc29571b782f37925ba308deea671e 是可以正常收到回调， easemob/im_flutter_sdk@f3a915bb22ef8a55e4342c45793323756400a519 就收不到。

[2021-03-30 04:18] dujiepeng commented on #270
@01098996 我测试了下demo，表现正常，没出现问题，您能提供下您这部分的代码么？

[2021-03-30 04:31] apex-wang commented on #269
这边打包的时候 有添加环信的混淆规则吗？

[2021-03-30 04:32] 01098996 commented on #270
@dujiepeng  有几个不一样的地方：
1.demo是单聊，我这边的场景是群聊。
2.demo只判断了PROGRESS和FAIL的状态，其它状态均为已发送。实际上CREATE状态并不是已发送状态。

[2021-03-30 04:37] dujiepeng commented on #270
@01098996 好，我试下。

[2021-03-30 06:08] panzhoutao commented on #269
添加了，也没用

[2021-03-30 11:20] dujiepeng commented on #270
@01098996 resend有问题，正常send的时候正常，目前已经修复，可以在alpha分支试下。

[2021-03-30 11:20] #270 closed, assigned to nobody

[2021-03-30 11:55] crazecoder opened #271 "文件/图片消息怎么设置消息扩展"

[2021-03-31 03:20] 01098996 opened #272 "发送消息收不到通知"
#270 修改后变成概率性出现，10次有6~7次收不到发送成功回调

[2021-03-31 09:10] ixre opened #273 "撤回消息报错"
撤回消息时报错导致程序闪退

堆栈信息：
[code]

[2021-03-31 09:39] #271 closed, assigned to nobody

[2021-03-31 12:00] #269 closed, assigned to nobody

[2021-03-31 15:12] ixre opened #274 "sendMessageReadAck 报错The message type is incorrect"
message:

[code]
在IOS上报如下错误,  android正常
[code]

[2021-04-01 02:43] dujiepeng commented on #272
@01098996 目前怀疑是ui的问题，在demo上出现了，多次快速调用setState的时候，再刷新前，消息就已经发送成功并且回调了。可以打断点或者输出下是否有发送成功的回调。

[2021-04-01 02:47] 01098996 commented on #272
@dujiepeng  没有出现bug的会有通知，反之则没有

[2021-04-01 02:51] #266 closed, assigned to dujiepeng

[2021-04-01 03:23] dujiepeng commented on #274
@ixre 您用的是群组么？群组的已读回执需要单独开通，可以先联系下环信商务。安卓那边应该是单聊的正常，群组的应该也不行，您可以再试下。

[2021-04-01 03:23] #274 closed, assigned to dujiepeng

[2021-04-01 03:24] dujiepeng commented on #272
@01098996 没太懂您这个描述。

[2021-04-01 03:38] dujiepeng commented on #272
@01098996 您可以加QQ群535134817

[2021-04-01 03:38] dujiepeng commented on #197
@MEnigma 您可以加QQ群535134817

[2021-04-01 03:39] dujiepeng commented on #262
@crazecoder 您可以加QQ群535134817

[2021-04-01 03:39] dujiepeng commented on #251
@AcYangle 您可以加QQ群535134817

[2021-04-06 02:27] dujiepeng commented on #273
@ixre
[code]

[code]
测试长按撤回没有问题，您能具体描述下场景么。

[2021-04-06 02:44] dujiepeng commented on #273
@ixre 找到问题了。如果消息不存在，安卓那边会crash。这个我们来处理。

[2021-04-07 01:50] ixre commented on #273
消息存在的,ios也存在同样的问题
[code]

[2021-04-08 12:19] #259 closed, assigned to dujiepeng

[2021-04-08 12:19] #262 closed, assigned to dujiepeng

[2021-04-08 12:19] #273 closed, assigned to dujiepeng

[2021-04-08 12:20] dujiepeng commented on #248
安卓发送的类型不正确，导致ios无法解析。目前已经处理。

[2021-04-08 12:20] #248 closed, assigned to dujiepeng

[2021-04-08 12:21] #261 closed, assigned to dujiepeng

[2021-04-09 01:27] SuLuopital opened #280 "im_flutter_sdk dev分支 删除消息无效"
im_flutter_sdk dev分支 删除消息无效

[2021-04-12 01:34] ixre commented on #273
撤回不报错了,　但撤回一个文本消息时提示：500 desc: Message is invalid
[code]

[2021-04-12 01:56] dujiepeng commented on #280
@SuLuopital 你好，我们目前主要维护alpha分支，最后也以alpha分支作为base同步到stable。dev分支后续将不再维护。

[2021-04-12 01:58] dujiepeng commented on #273
@ixre 你好，撤回的消息需要是已经发送成功的消息。 您这条消息应该是没有发送成功或者未发送的。所以撤回时报错。
如有进一步问题，可以加群535134817。

[2021-04-12 10:14] amorwilliams opened #282 "数据字段名错误"
https://github.com/easemob/im_flutter_sdk/blob/d413d622b01298440d75f1f6278f0305e89385ae/android/src/main/java/com/easemob/im_flutter_sdk/EMHelper.java#L154
https://github.com/easemob/im_flutter_sdk/blob/d413d622b01298440d75f1f6278f0305e89385ae/android/src/main/java/com/easemob/im_flutter_sdk/EMHelper.java#L290
https://github.com/easemob/im_flutter_sdk/blob/d413d622b01298440d75f1f6278f0305e89385ae/

[2021-04-13 06:56] dujiepeng commented on #282
@amorwilliams  thx!

[2021-04-13 06:57] dujiepeng commented on #282
@amorwilliams 欢迎您加群535134817 。

[2021-04-13 08:12] SuLuopital commented on #280
好的

[2021-04-13 08:14] SuLuopital opened #284 "im_flutter_sdk stable分支 消息状态监听"
在widget中添加消息状态监听EMMessageStatusListener，，init时setMessageListener，但直到消息发送成功之后也没有触发相应的回调

[2021-04-13 08:15] #280 closed, assigned to nobody

[2021-04-13 08:17] #282 closed, assigned to nobody

[2021-04-13 08:20] dujiepeng commented on #284
@SuLuopital  目前demo测试正常，不确定是不是目前的写法上有没考虑到的地方，暂定为调用方式不对，可以加群535134817进一步沟通调调用方式和这部分的实现。

[2021-04-13 08:20] #284 closed, assigned to nobody

[2021-04-13 10:05] 01098996 opened #286 "获取加入的群列表崩溃"
getJoinedGroups这个接口返回类型不对崩溃了。

[code]

[2021-04-13 15:31] amorwilliams opened #288 "字段不匹配"
https://github.com/easemob/im_flutter_sdk/blob/74bd011f018d15825f7b967733e842bfb6cacf73/android/src/main/java/com/easemob/im_flutter_sdk/EMHelper.java#L706
https://github.com/easemob/im_flutter_sdk/blob/74bd011f018d15825f7b967733e842bfb6cacf73/lib/src/models/em_message.dart#L643-L644

[2021-04-13 16:02] amorwilliams commented on #288
https://github.com/easemob/im_flutter_sdk/blob/74bd011f018d15825f7b967733e842bfb6cacf73/android/src/main/java/com/easemob/im_flutter_sdk/EMHelper.java#L700-L716
https://github.com/easemob/im_flutter_sdk/blob/74bd011f018d15825f7b967733e842bfb6cacf73/ios/Classes/EMMessage%2BFlutter.m#L456-L472
Is there missing `thumbnailStatus` field in `imageBodyToJson` method from `EMHelper.java`  ?

[2021-04-16 07:34] good-good-study opened #292 "如何同时集成客服云sdk"
Flutter 端集成了 环信Flutter sdk ，以下是集成方式 ：
dependencies:
  im_flutter_sdk:
    git:
      url: https://github.com/easemob/im_flutter_sdk.git
      ref: stabl
如何同时集成客服云sdk

[2021-04-16 07:35] good-good-study commented on #292
目前flutter集成了im, android集成了kefu sdk ， 但是编译时会产生依赖冲突

[2021-04-16 09:06] dujiepeng commented on #292
@good-good-study 目前flutter 和客服没有办法一起使用，后续应该也没有这个计划。

[2021-04-16 09:15] dujiepeng commented on #288
@amorwilliams 这个是目前原生那边没有暴露出来，flutter等下次安卓发版才能提供这个属性。

[2021-04-16 09:16] #292 closed, assigned to nobody

[2021-04-16 11:30] apex-wang commented on #163
华为官方有提供对应的插件 可以直接从flutter这边获取devicetoken 我们有封装一个上传token的接口 你获取到华为devicetoken之后调上传的接口给环信服务即可 这个操作需要在登录环信之后去上传

[2021-04-18 08:15] ixre opened #293 "撤回消息需要撤回两次才成功"
１.　当撤销后,　消息还存在.　重新进入会话聊天.　消息也还是存在的.
２.　再次撤销,　消息消失,　重新进入聊天.　消息也不在了.　对方的聊天框消息也被撤回.　

当尝试使用SDK和RESTAPI结合,　在一次调用中请求两次撤销.　
仍然还是需要再操作一次.　

[2021-04-19 05:50] SuLuopital opened #295 "视频消息体中thumbnailLocalPath属性为空"
发送视频消息给thumbnailLocalPath属性设置上缩略图，发送成功。从会话中获取消息体的thumbnailLocalPath属性却为null

[2021-04-19 08:01] apex-wang commented on #295
你这边啦的是哪个分支的代码 我这边看看

[2021-04-19 08:02] SuLuopital commented on #295
stable分支

[2021-04-20 08:23] hchen1987 opened #298 "[ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: MissingPluginException(No implementation found for method getConversation on channel com.easemob.im/em_chat_manager)"
[ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: MissingPluginException(No implementation found for method getConversation on channel com.easemob.im/em_chat_manager)

[2021-04-20 08:27] #298 closed, assigned to nobody

[2021-04-20 09:33] hchen1987 opened #299 "No implementation found for void com.hyphenate.chat.adapter.EMAChatConfig.nativeLogE(java.lang.String, java.lang.String) (tried Java_com_hyphenate_chat_adapter_EMAChatConfig_nativeLogE and Java_com_hyphenate_chat_adapter_EMAChatConfig_nativeLogE__Ljava_lang_String_2Ljava_lang_String_2) I/Process ( 9913): Sending signal. PID: 9913 SIG: 9 Lost connection to device."
请问这是这么问题导致的？

[2021-04-21 06:07] elricym opened #300 "Vivo配置推送不成功，com.vivo.push.app_id expected Integer but value was a java.lang.String"
按照教程配置的Vivo推送，也对照了Vivo官网上的教程，不能把app_id cast成int是什么原因？

W/Bundle  (30480): Key com.vivo.push.app_id expected Integer but value was a java.lang.String.  The default value 0 was returned.
W/Bundle  (30480): Attempt to cast generated internal exception:
W/Bundle  (30480): java.lang.ClassCastException: java.lang.String cannot be cast to java.lang.Integer
W/Bundle  (30480): 	at android.os.BaseBundle.get

[2021-04-21 08:08] dujiepeng commented on #299
@hchen1987 这个看不出来，看着是crash？ 能描述下具体操作步骤或者调用了什么api么。

[2021-04-22 01:55] hchen1987 commented on #299
已经解决了，谢谢。

[2021-04-22 01:55] #299 closed, assigned to nobody

[2021-04-22 01:58] hchen1987 opened #301 "Pending exception java.lang.ClassNotFoundException: Didn't find class "com.hyphenate.chat.adapter.EMAREncryptUtils" on path: DexPathList[[zip file "/system/framework/org.apache.http.legacy.boot.jar""
release报这个错，debug木问题，请教一下是什么问题导致的？

[2021-04-22 08:08] and2long commented on #301
安卓需要自己配置一下混淆规则才行。

[2021-04-22 08:12] and2long opened #302 "【发送视频消息】日志显示发送成功，但是界面上没有显示出来视频消息。"
flutter: EaseMob | V | 发送成功 -- {from: 17782576644, to: 13909251579, body: {type: video, secret: YWrrEKMgEeuT5s3XJecJ0eMao6pvPp_YGQkl4LFo0uiIHnCX, remotePath: https://a1-v2.easemob.com/1123210406152002/demo/chatfiles/616a9cf0-a320-11eb-bfbb-d1e41027ff78, fileSize: 2170106, localPath: /private/var/mobile/Containers/Data/Application/1D59AB6C-DD14-42D7-94C1-12C237B5ECDB/tmp/trim.8EEC4405-52EE-42A1-8D8

[2021-04-22 09:00] hchen1987 commented on #301
请问有参考的例子吗？

[2021-04-22 09:03] and2long commented on #301
[http://docs-im.easemob.com/im/android/sdk/import#app_%E6%89%93%E5%8C%85%E6%B7%B7%E6%B7%86](http://docs-im.easemob.com/im/android/sdk/import#app_%E6%89%93%E5%8C%85%E6%B7%B7%E6%B7%86)

[2021-04-22 09:04] dujiepeng commented on #302
@and2long demo上没有添加视频消息的bubble。

[2021-04-22 09:06] hchen1987 commented on #301
收到，我尝试一下，多谢。

[2021-04-22 09:07] and2long commented on #302
你的意思是说 不支持视频消息吗？

SDK 里是有发送视频消息的API的。

[2021-04-25 05:16] and2long commented on #302
demo 消息列表中的视频消息预览没有实现。

[2021-04-25 05:16] #302 closed, assigned to nobody

[2021-04-25 07:30] hwh97 opened #303 "iOS虚拟机发送录音文件找不到"
发送的文件路径/Users/***/Library/Developer/CoreSimulator/Devices/50094F55-0992-476B-A07B-D448C7F23AD7/data/Containers/Data/Application/C760F36E-DB28-41EA-91FB-424D14531C5D/Documents/voice/1619334452204990.aac

错误：
flutter: EaseMob | V | 发送失败 -- {error: {description: /Users/\*\*/Library/Developer/CoreSimulator/Devices/50094F55-0992-476B-A07B-D448C7F23AD7/data/Containers/Data/Application/C760F36E-DB28-41EA

[2021-04-27 03:43] dujiepeng commented on #303
@hwh97 这个需要等原生sdk升级，那边有一个路径的处理没有考虑模拟器的情况。

[2021-04-27 03:44] dujiepeng commented on #300
这个是因为参数写在了build.gradle的原因，这个可以加群535134817，沟通具体解决方式。

[2021-04-27 03:44] #300 closed, assigned to nobody

[2021-04-27 03:45] dujiepeng commented on #293
@ixre 这个感觉是因为消息发送的时候没有更新消息id导致的，可以加群535134817具体描述下情况。

[2021-04-27 03:45] #293 closed, assigned to nobody

[2021-04-27 03:46] dujiepeng commented on #303
也可以加群535134817 沟通。

[2021-04-27 03:46] #272 closed, assigned to nobody

[2021-04-27 03:47] #286 closed, assigned to nobody

[2021-04-29 07:33] hchen1987 opened #308 "请问支持轨迹消息发送吗？"
请问支持轨迹消息发送吗？

[2021-05-06 02:30] dujiepeng commented on #308
轨迹消息是环信客服里的那个么？这个sdk不支持环信客服。

[2021-05-06 02:30] dujiepeng commented on #308
轨迹消息是环信客服里的那个么？这个sdk不支持环信客服。

[2021-05-06 02:31] #301 closed, assigned to nobody

[2021-05-06 07:02] hchen1987 commented on #308
是，在线客服聊天支持发送这种消息吗？我看发送消息有消息扩展。

[2021-05-12 07:29] WSWshallwe opened #311 "iOS真机连接调试启动后，杀死APP，重启APP会闪退，模拟器没有这个问题"

[2021-05-12 07:31] vance-liu commented on #242
快两个月了，希望尽快支持

[2021-05-12 07:41] dujiepeng commented on #311
@WSWshallwe 能提供下ios crash时候的调用栈信息或者是crash log么。

[2021-05-12 07:41] dujiepeng commented on #308
@hchen1987 如果只是消息的ext，是可以支持的。

[2021-05-12 07:41] #308 closed, assigned to nobody

[2021-05-12 07:56] WSWshallwe commented on #311
知道原因了，flutter 新的机制，退出调试模式就用不了。

[2021-05-12 07:56] #311 closed, assigned to nobody

[2021-05-12 11:24] Hynsen opened #314 "Command PhaseScriptExecution failed with a nonzero exit code"
Xcode12.5编译报错，附flutter doctor信息：
[✓] Flutter (Channel stable, 2.0.6, on macOS 11.3.1 20E241 darwin-x64, locale
    zh-Hans-CN)
[✓] Android toolchain - develop for Android devices (Android SDK version
    30.0.1)
[✓] Xcode - develop for iOS and macOS
[✓] Chrome - develop for the web
[✓] Android Studio (version 4.0)
请问是新版flutter与iOS14+的兼容问题吗？

[2021-05-13 03:39] Hynsen commented on #314
Xcode编译报错指向了FlutterSDK里刷新插件的问题：
../../../Documents/flutter/.pub-cache/hosted/pub.flutter-io.cn/pull_to_refresh-1.6.3/lib/src/smart_refresher.dart:273:21: Error: The method 'ancestorWidgetOfExactType' isn't defined for the class 'BuildContext'.

[2021-05-13 03:58] Hynsen commented on #314
果然是pull_to_refresh插件的问题，升级后真机编译通过，模拟器不行

[2021-05-13 03:58] #314 closed, assigned to nobody

[2021-05-13 08:53] Hynsen opened #315 "一个录音的小bug"
录音时手势上滑取消当前录音，但下次录音后发送的时候录音条包含上次取消的录音片段

[2021-05-16 15:19] hibiao opened #316 "现在是否支持flutter2.0，想升级但是不敢升"

[2021-05-16 15:20] dujiepeng commented on #316
@hibiao 下周末之前会升级到flutter2.0 到时候会有一个2.0的stable分支供您使用。

[2021-05-16 15:20] #316 closed, assigned to nobody

[2021-05-18 00:54] caofuqing commented on #242
希望早点支持啊

[2021-05-18 02:15] vance-liu commented on #242
同希望

[2021-05-19 09:20] and2long opened #320 "stable 分支合并#318 后，示例代码在 iOS 环境下无法运行"
![image](https://user-images.githubusercontent.com/17178272/118788442-63109a80-b8c6-11eb-8187-938041081acf.png)

[2021-05-20 13:15] ixre opened #321 "调用updateMessage后消息的direction会倒置"
当接收到消息后, 需要对消息作些修改, 添加操作状态,代码如下:
[code]

调用后, conversationId 变为了widget.message.from , 既出现了两个不同的会话

[2021-05-24 05:04] yangjianping1029 opened #323 "初始化，在本地模拟器正常，打包手机安装后，进入初始化页面会闪退"
@override
  void initState() {
    // TODO: implement initState
    super.initState();
    init();
  }

  // 初始化IM
  init() async{
    EMOptions options = EMOptions(appKey: '1130210322238132#demo');
    EMPushConfig config = EMPushConfig();
    // 配置推送信息
    // 环信的推送只针对离线设备，如果您的app只是后台且没有被系统挂起，此时客户端的长连接仍然还在，这时消息仍然会直接走收消息的方法，并不会触发推送，这就要求您在收消息时判断App的状态，并实现本地推送。
    // 推送证书申请上传，安卓端请参考文档第三方推送集成，iOS请参考

[2021-05-24 16:51] oneQiu opened #324 "获取聊天室人员详情报错"
1. 我在客户端获取聊天室人员详情的时候报错
![image](https://user-images.githubusercontent.com/50658231/119380049-cd747100-bcf2-11eb-864e-0e6fa9102037.png)
![image](https://user-images.githubusercontent.com/50658231/119379996-bc2b6480-bcf2-11eb-9d75-5a69fa092411.png)

2. 我发送消息的时候发送的是一条，但是另外一个设备接收到的是多个重复消息，打印日志也是发送的是一条，重复接收了多个消息。
![image](https://user-images.githubusercontent.com/50658231/119380474-5ab7c580-bcf3-11eb-8

[2021-05-25 07:04] #320 closed, assigned to nobody

[2021-06-01 05:53] YaoHoHo opened #326 "获取指定id的用户的用户属性方法使用报错，flutter版本2.0.6"
![7537B109-F050-4ACB-A69F-678B9EA13BCA](https://user-images.githubusercontent.com/20201118/120273131-ad3f4600-c2e0-11eb-9580-8bac5349e9e0.png)

[2021-06-01 06:27] YaoHoHo commented on #326
还有一个问题，当更新用户属性的时候，头像链接地址好像会被截取。
![123](https://user-images.githubusercontent.com/20201118/120276615-820b2580-c2e5-11eb-888b-c59933b631fa.png)

[2021-06-05 10:09] hibiao opened #330 "stable分支准备什么时候支持flutter2.0"
stable分支准备什么时候支持flutter2.0

[2021-06-07 02:04] tzt1994 opened #331 "什么时候支持空安全？"
when time support null-safety?

[2021-06-07 02:37] dujiepeng commented on #331
@tzt1994 目前flutter2.0_dev分支以支持空安全，您可以试下，如果遇到问题可以随时提交issues。

[2021-06-07 02:37] #331 closed, assigned to nobody

[2021-06-07 02:38] dujiepeng commented on #330
@hibiao 您好，因为目前ui库没有全部适配空安全，导致demo无法运行，暂时还没有办法发2.0的stable，您可以用flutter2.0_dev分支，如果遇到问题可以随时反馈。

[2021-06-07 02:41] dujiepeng commented on #324
@oneQiu 第一个应该是sdk返回的状态不对，这个可以sdk处理，第二个应该不是sdk的问题，需要您看下ui实现上有什么问题。

[2021-06-07 02:42] dujiepeng commented on #323
@yangjianping1029 有具体闪退的信息么。连上真机后，android studio的logcat应该可以打印出来。

[2021-06-07 02:51] tzt1994 commented on #331
好的，我已经看到了。谢谢

[2021-06-07 08:18] jinliang04551 commented on #326
你好 ：
1.更新用户属性的问题 可以发一下你的调用的代码吗  还有你打断点的代码的完整截图可以提供下吗
2.图片我用第三方的试了一下 没有问题    附截图   如还有问题
![QQ20210607-161506fetch](https://user-images.githubusercontent.com/3039130/120983068-efb6c600-c7ab-11eb-9d4c-7f28ce2432d3.png)
![QQ20210607-161427update](https://user-images.githubusercontent.com/3039130/120983090-f47b7a00-c7ab-11eb-8d2d-073cff450938.png)

可以把具体的逻辑截图一下

[2021-06-07 09:41] dujiepeng commented on #326
@jinliang04551 @YaoHoHo

[2021-06-07 09:47] YaoHoHo commented on #326
![1](https://user-images.githubusercontent.com/20201118/120993379-0cf09200-c7b6-11eb-9437-f2c5a58066cf.png)
![2](https://user-images.githubusercontent.com/20201118/120993006-b8e5ad80-c7b5-11eb-8a88-e7fc48c6098a.png)
可以试下我这个地址  http://thirdqq.qlogo.cn/g?b=oidb&k=F3O4ZsbrmMjAwJRyAhmkaw&s=100&t=1556336302 ，这是qq登录返回的头像地址
上面两张截图是原生android的断点，存取用户属性的时候，地址是完整的，但是回调的返回结果中图像地址被截取了。
![3](https://user-images

[2021-06-07 10:13] and2long opened #332 "【视频消息】提示文件过大发送失败。视频文件大小支持多大？"
` EaseMob | V | 发送失败 -- {localTime: 1623060659808, code: 405, description: File too large, message: {conversationId: 19935964171, msgId: 162306065980823340, hasDeliverAck: false, body: {remotePath: , displayName: , secret: , type: video, thumbnailSecret: , duration: 0, fileSize: 0, fileStatus: 3, thumbnailRemotePath: , localPath: /data/user/0/com.qunai.doctor/cache/image_picker7123699892530490805.

[2021-06-07 12:01] jinliang04551 commented on #326
麻烦把第一个获取用户属性的代码的完整截图发一下吧   @YaoHoHo

[2021-06-07 12:43] YaoHoHo commented on #326
![3](https://user-images.githubusercontent.com/20201118/121018216-c52b3400-c7d0-11eb-9c73-431b2560bd11.png)
![2](https://user-images.githubusercontent.com/20201118/121018215-c52b3400-c7d0-11eb-8a02-b2d6e66fdd88.png)
第一张是使用api的截图和传入的数据，第二张是报错，我自己改成forEach的写法没有问题，用的sdk是2.0.6

[2021-06-07 12:44] oneQiu commented on #324
@dujiepeng 一个新问题，自定义消息。传递params 会报错，因为传递类型是,Map<dynamic, dynamic>'  内部方法却是Map<String, String>。
![image](https://user-images.githubusercontent.com/50658231/121018501-19361880-c7d1-11eb-8b96-340104e12938.png)
![image](https://user-images.githubusercontent.com/50658231/121017403-d0ca2b00-c7cf-11eb-9587-a4f90e4e5e04.png)
![image](https://user-images.githubusercontent.com/50658231/121018447-07547580-c7

[2021-06-07 13:04] jinliang04551 commented on #326
嗯 第二个图片保存已经找到问题了  第一个获取用户属性的 你那边看到的是这样的吗
![QQ20210607-210107userinfo](https://user-images.githubusercontent.com/3039130/121021381-e80b1780-c7d3-11eb-86b6-95bbf0149d8f.png)

[2021-06-07 13:10] jinliang04551 commented on #326
@YaoHoHo

[2021-06-07 13:24] YaoHoHo commented on #326
噢，我这边的版本少了 .toList(); 那应该是这个写法问题。

[2021-06-08 02:25] jinliang04551 commented on #326
嗯 好的 应该是我们少合并了 后面会一起处理的 感谢指正

[2021-06-09 03:24] jinliang04551 commented on #326
@YaoHoHo  我看我们这边的代码里是有toList() 的 你再重新拉取一下吧

[2021-06-09 03:47] YaoHoHo commented on #326
恩恩

[2021-06-11 08:27] CharlesZqikai opened #336 "flutter build apk"

[2021-06-11 08:27] CharlesZqikai commented on #336
Exception in thread "main" java.io.FileNotFoundException: \Users\dujiepeng\dev\gradle-6.8.3-all.zip (系统找不到指定的路径。)
        at java.base/java.io.FileInputStream.open0(Native Method)
        at java.base/java.io.FileInputStream.open(FileInputStream.java:219)
        at java.base/java.io.FileInputStream.<init>(FileInputStream.java:157)
        at java.base/java.io.FileInputStream.<init>(FileInputStrea

[2021-06-13 18:39] jason-ivy opened #338 "fatal error: 'AgoraRtcKit/AgoraRtcEngineKit.h' file not found #import <AgoraRtcKit/AgoraRtcEngineKit.h>"
![image](https://user-images.githubusercontent.com/8363595/121818420-ab4e8d00-ccb9-11eb-972f-e76b739a1101.png)

[2021-06-14 01:45] anshulkhilrani commented on #336
Have you requested for the WRITE_EXTERNAL_STORAGE permission, because I faced the same issue and it was solved after asking for the permission to do so.

[2021-06-15 07:27] dujiepeng commented on #332
@and2long 应该是限制在10MB以下，这个是由服务器限制的。可以联系您对应的商务或者通过工单处理。

[2021-06-15 07:27] #332 closed, assigned to nobody

[2021-06-19 11:55] oneQiu opened #341 "IOS端发送自定义消息导致App直接crash"
相同的sdk版本，安卓能正常发送自定义消息，但是IOS端发送会直接Crash，定位了一下是在发送的时候出问题。Xcode报错信息
![image](https://user-images.githubusercontent.com/50658231/122641495-4327fd00-d138-11eb-960f-8979c3414eb2.png)
2021-06-19 19:37:59.919018+0800 Runner[51310:5748008] *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '-[NSNull count]: unrecognized selector sent to instance 0x7fff8004b700'
*** First th

[2021-06-19 11:58] victorykong commented on #341
遇到相同的问题，需要快速修复下，避免影响了用户

[2021-06-19 12:14] oneQiu commented on #341
问题2 使用新版本会报错，虽然不影响使用
![image](https://user-images.githubusercontent.com/50658231/122641961-eed24c80-d13a-11eb-8fe3-fb4c98734b84.png)

[2021-06-19 12:55] #341 closed, assigned to dujiepeng

[2021-06-19 12:56] dujiepeng commented on #341
@oneQiu @victorykong  ref:eec5947

[2021-06-21 10:16] dujiepeng commented on #321
@ixre 您好，这个问题我没有重现，不确定是不是测试的代码不太对，我是加在了ChatPage里。
[code]

[2021-06-22 00:37] ixre commented on #321
stable分支么, 会出现两个不同的会话.　

[2021-07-01 03:25] YaoHoHo opened #350 "使用同意入群申请，拒绝入群申请的方法时，提示群组不存在"
![1](https://user-images.githubusercontent.com/20201118/124060083-dc231600-da5e-11eb-817f-016a0109716b.png)
![2](https://user-images.githubusercontent.com/20201118/124060099-e218f700-da5e-11eb-841f-f593aa2cee45.png)
原生调用中groupId 和 username 参数传递反了

[2021-07-05 07:07] dujiepeng commented on #350
@YaoHoHo  Thx!

[2021-07-05 07:17] #350 closed, assigned to nobody

[2021-07-05 07:36] good-good-study opened #355 "什么时候能支持Flutter2.0 的 Null-Safety"
什么时候能支持Flutter2.0 的 Null-Safety

[2021-07-05 11:12] jason-ivy commented on #338
没人能回复吗

[2021-07-05 11:58] dujiepeng commented on #355
@good-good-study 目前sdk有2.0的branch，还没有把demo都升级到null safety, 您可以先用2.0的分支，调试开发，如果遇到问题提交issue即可。

[2021-07-06 02:22] good-good-study commented on #355
哦哦，现在已经用了这个2.0的flutter2_dev分支了，但是现在调用了加载所有会话的方法后，一直报错，app重装也是一样的错误。

![截屏2021-07-06 上午10 15 39](https://user-images.githubusercontent.com/20188392/124532855-ec166d80-de43-11eb-95f4-4d89b394a3dd.png)

[2021-07-07 02:22] tzt1994 opened #356 "Unhandled Exception: type 'Null' is not a subtype of type 'Map<String, dynamic>'"
flutter2_dev分支

[ERROR:flutter/lib/ui/ui_dart_state.cc(199)] Unhandled Exception: type 'Null' is not a subtype of type 'Map<String, dynamic>'
E/flutter ( 1208): #0      new EMConversation.fromJson (package:im_flutter_sdk/src/models/em_conversation.dart:35:54)
E/flutter ( 1208): #1      EMChatManager.loadAllConversations.<anonymous closure> (package:im_flutter_sdk/src/em_chat_manager.dart:160:43)
E

[2021-07-07 09:55] randomjoho opened #357 "2.0版本-EMMessage的消息监听无法取消"
我没办法传null进来移除消息监听.
void setMessageListener(EMMessageStatusListener  listener) {
    this.listener = listener;
    if (listener != null) {
      MessageCallBackManager.getInstance.addMessage(this);
    } else {
      MessageCallBackManager.getInstance.removeMessage(this);
    }
  }
@dujiepeng

[2021-07-08 09:18] TheCodeYu opened #358 "什么时候能支持Flutter2.0 的 Null-Safety"
早点支持null-safety啊，项目都切换过来了

[2021-07-09 01:42] good-good-study opened #359 "Flutter2_dev分支, ，获取会话失败"
哦哦，现在已经用了这个2.0的flutter2_dev分支了，但是现在调用了加载所有会话的方法后，一直报错，app重装也是一样的错误。

![截屏2021-07-06 上午10 15 39](https://user-images.githubusercontent.com/20188392/124532855-ec166d80-de43-11eb-95f4-4d89b394a3dd.png)

[2021-07-19 09:06] randomjoho commented on #357
EMConversation

factory EMConversation.fromJson(Map<String, dynamic> map) {
    Map<String, String>? ext = map['ext'];
    String? name;
    if (ext != null) {
      name = ext['con_name'];
      ext.remove('con_name');
    }

    return EMConversation._private()
      ..type = typeFromInt(map['type'])
      ..id = map['con_id']
      .._unreadCount = map['unreadCount']
      .._ext = ext
      ..

[2021-07-20 06:47] zmm2tysu opened #365 "Flutter2_dev分支，会话对象里的name是空的"
如题，
1. 对话的name是否是注册账号时填写的昵称（实际上我注册是给了昵称的）？
2. 如果不是的话怎么赋值？

[2021-07-20 07:13] good-good-study opened #366 "Ios设备上发送 CMD消息，直接闪退，也没有日志"
使用的版本是 ： flutter2_dev
在发送CMD消息时，直接闪退了，控制台也看不到日志。 发送图片、文本、视频消息均无异常。以下是发送的CMD消息结构:

{"from":"609604647c7cf4","to":"153980338503681","body":{"type":"cmd","action":"fh_action_cmd_topic","deliverOnlineOnly":null},"attributes":{},"direction":"send","hasRead":true,"hasReadAck":false,"hasDeliverAck":false,"msgId":"162676498494911986","conversationId":"153980338503681","chatType":1,"localTime":162676498494

[2021-07-22 05:58] good-good-study opened #367 "自定义属性，ios和android 消息数据类型不一致"
使用的版本是 ： flutter2_dev
扩展属性时，attributes中自定义的key对应的value，如果value是非基本数据类型的话，例如，value为一个对象，在ios端，接收到的消息结构是一个对象， 但是在android端，却是一个字符串。

如下图，android、ios收到的消息对比：
<img width="821" alt="Android" src="https://user-images.githubusercontent.com/20188392/126595540-0370a9e5-854e-464c-827f-019a3bf87ce7.png">
<img width="819" alt="ios" src="https://user-images.githubusercontent.com/20188392/126595552-990e769d-14d5

[2021-07-23 06:11] alexwuchao commented on #357
的确是这样，不知道他们什么时候修复

[2021-07-23 06:46] #355 closed, assigned to nobody

[2021-07-26 06:37] dujiepeng commented on #338
@jason-ivy  这个报错看起来是用的ios10以下的版本么？ unauthorizationoptionbade 这个应该是10以上才支持的。

[2021-07-27 03:06] good-good-study opened #368 "ios设备 onMessagesReceived 回调了两次"
首先在测试环信收发消息的过程中，发现在android设备上显示正常（android设备之间收发消息均正常），在ios设备上测试发现，同一条消息 onMessagesReceived 回调了两次，并且这两个消息的  msgId是一样的，消息时间也是一样的，但是 打印过程中发现 EMMessage 的 hashCode值不一样， 导致消息重复加载。

以下是注册消息监听的做法：

`  @override
  void initState() {
    super.initState();
    _initConversation();
    EMClient.getInstance.chatManager.addListener(this);
  }`

` @override
  onMessagesReceived(List<EMMessage> messages) {
    b

[2021-07-27 03:13] good-good-study opened #369 "ios设备 onMessagesReceived 回调了两次"
首先在测试环信收发消息的过程中，发现在android设备上显示正常（android设备之间收发消息均正常），在ios设备上测试发现，同一条消息 onMessagesReceived 回调了两次，并且这两个消息的 msgId是一样的，消息时间也是一样的，但是 打印过程中发现 EMMessage 的 hashCode值不一样， 导致消息重复加载。

以下是注册消息监听的做法：

![截屏2021-07-27 上午11 11 19](https://user-images.githubusercontent.com/20188392/127089409-484d812c-7867-451d-a40b-25f84a4c4623.png)

![截屏2021-07-27 上午11 11 03](https://user-images.githubusercontent.com/20188392/12

[2021-07-27 03:13] #368 closed, assigned to nobody

[2021-07-27 03:24] dujiepeng commented on #369
@good-good-study 这个是必现的么。

[2021-07-27 03:25] good-good-study commented on #369
@dujiepeng 是的

[2021-07-27 08:26] vance-liu commented on #356
同样的问题，希望尽快修复

[2021-07-28 02:21] zmm2tysu commented on #323
我也闪退

[code]

[2021-07-28 02:32] zmm2tysu commented on #323
我这个错打开混淆就不闪退了
[code]

[2021-07-28 02:55] dujiepeng commented on #323
@yangjianping1029 @zmm2tysu  可以参考环信混淆规则
https://docs-im.easemob.com/im/android/sdk/import#app_%E6%89%93%E5%8C%85%E6%B7%B7%E6%B7%86

[2021-07-28 03:00] dujiepeng commented on #336
您好，这个是指向了本地的gradle，可以在gradle-wrapper.properties里修改成您本地的或者是指向distributionUrl=https\://services.gradle.org/distributions/gradle-5.4.1-all

[2021-07-28 03:00] #336 closed

[2021-07-28 04:18] #323 closed, assigned to nobody

[2021-07-31 02:39] zmm2tysu commented on #365
好吧 文档上写的注册账号时的昵称只是做推送用，用户属性是单独接口现在获取到了

[2021-07-31 02:39] #365 closed, assigned to dujiepeng

[2021-07-31 04:26] #338 closed, assigned to nobody

[2021-07-31 04:27] #326 closed, assigned to dujiepeng

[2021-07-31 04:31] dujiepeng commented on #321
您好，您的环信id是否存在大写?

[2021-07-31 04:32] #251 closed, assigned to nobody

[2021-07-31 04:32] #197 closed, assigned to dujiepeng

[2021-08-02 07:15] ixre commented on #321
没有，是固定前缀加数字的组合

[2021-08-04 03:18] SuperCarGT opened #372 "安卓SDK 3.8.3升级 提示libsqlite.so找不到文件"
at java.lang.Runtime.load0(Runtime.java:938)
        at java.lang.System.load(System.java:1632)
        at internal.com.getkeepsafe.relinker.SystemLibraryLoader.loadPath(Unknown Source:0)
        at internal.com.getkeepsafe.relinker.ReLinkerInstance.loadLibraryInternal(Unknown Source:182)
        at internal.com.getkeepsafe.relinker.ReLinkerInstance.loadLibrary(Unknown Source:21)
        at intern

[2021-08-04 03:30] #372 closed, assigned to nobody

[2021-08-04 03:30] SuperCarGT commented on #372
已解决

[2021-08-05 03:03] zmm2tysu commented on #369
我也出现了=。=
我有一台设备用模拟器出现两次回调。
我两台设备都用真机后就没这个问题了

[2021-08-05 03:22] good-good-study commented on #369
@dujiepeng 大佬，这个问题有结果了吗😂

[2021-08-05 03:34] zmm2tysu commented on #369
你看你是不是有个用的模拟器？

[2021-08-05 03:36] good-good-study commented on #369
对

[2021-08-05 05:56] zmm2tysu opened #373 "这个插件跟极光推送冲突了？"
我同时接入了这个im和极光推送，现在发现生产环境的包无法收到极光推送，只有屏蔽了这个插件才能收到推送？请问该怎么改才能同时使用两个插件？

[2021-08-07 09:44] tongdong opened #374 "demo不能点对点聊天吗"
D/EMChatManager( 3349): convID:156062689853441
E/flutter ( 3349): [ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: NoSuchMethodError: The method '[]' was called on null.
E/flutter ( 3349): Receiver: null
E/flutter ( 3349): Tried calling: []("to")
E/flutter ( 3349): #0      Object.noSuchMethod (dart:core-patch/object_patch.dart:54:5)
E/flutter ( 3349): #1      new EMMessage.fromJso

[2021-08-09 07:57] alexwuchao opened #375 "消息回调偶尔不走"
onMessagesReceived(List<EMMessage> messages)
聊天室多见，是怎么回事

[2021-08-11 01:47] good-good-study commented on #359
@dujiepeng 你好，这个问题有修复吗？

[2021-08-18 10:39] AidanFreeman opened #382 "需要fluttersdk版本多少我这边2.2 会出现inheritFromWidgetOfExactType 方法找不到"

[2021-08-18 10:41] AidanFreeman commented on #382
![image](https://user-images.githubusercontent.com/58162973/129884460-1f2cbbfb-c669-4440-b338-d495a8d4db12.png)

[2021-08-19 02:04] #382 closed, assigned to nobody

[2021-08-19 02:04] AidanFreeman commented on #382
更改配置中pull refresh 版本就可以了  已解决

[2021-08-19 12:29] veargithub opened #383 "依赖版本冲突"
Because every version of easeim_flutter_demo from path depends on shared_preferences 0.5.12+4 and huajianshe_app depends on shared_preferences 2.0.0, easeim_flutter_demo from path is forbidden.
So, because huajianshe_app depends on easeim_flutter_demo from path, version solving failed.

这个demo的sdk有没有高点版本的？我现在是的2.12。

[2021-08-19 13:03] #383 closed, assigned to nobody

[2021-08-20 02:16] #375 closed, assigned to nobody

[2021-08-24 14:39] dujiepeng commented on #374
您好，您使用的是哪个分支？也可以加群535134817

[2021-08-24 14:39] #374 closed, assigned to nobody

[2021-08-24 14:40] dujiepeng commented on #373
您好，因为极光和环信的sdk都直接把注册deviceToken的方式写在了插件里，这样可能会导致一方无法收到回调，环信sdk也提供了单独设置deviceToken的api在PushManager中，您可以主动设置。

[2021-08-24 14:40] #373 closed, assigned to nobody

[2021-08-24 14:41] dujiepeng commented on #324
您可以进群535134817

[2021-08-24 14:41] #324 closed, assigned to dujiepeng

[2021-08-28 06:42] dujiepeng commented on #369
@good-good-study 加群535134817。

[2021-08-28 06:42] #369 closed, assigned to nobody

[2021-08-30 13:40] HuangShengHuan opened #399 "Android登陆后调loadAllConversations有时候没有数据"
有时候登陆后调loadAllConversations会没有数据(总共一条)，重复调都没有，只有重新登陆后才会有；日志也没报任何异常，服务器是连接的状态。
同一个账号，重复登陆/退出，偶发。

[2021-08-31 08:54] dujiepeng commented on #321
您好，还是无法重现，可以加群535134817

[2021-08-31 08:54] #321 closed, assigned to dujiepeng

[2021-09-01 15:20] xiayanping opened #405 "Unhandled Exception: Null check operator used on a null value"
Launching lib\main.dart on Android SDK built for x86 in debug mode...
Running Gradle task 'assembleDebug'...
√  Built build\app\outputs\flutter-apk\app-debug.apk.
Installing build\app\outputs\flutter-apk\app.apk...
Debug service listening on ws://127.0.0.1:8880/igzuUK6Lk4A=/ws
Syncing files to device Android SDK built for x86...
E/flutter ( 5916): [ERROR:flutter/lib/ui/ui_dart_state.cc(199)] Unhan

[2021-09-01 15:49] xiayanping commented on #405
少写了一行
WidgetsFlutterBinding.ensureInitialized();

初始化代码
**WidgetsFlutterBinding.ensureInitialized();**
EMPushConfig config = EMPushConfig()..enableAPNs('EaseIM_APNS_Product');
var options = EMOptions(appKey: 'easemob-demo#easeim');
options.debugModel = true;

options.pushConfig = config;
EMClient.getInstance.init(options).then((value) => null);

[2021-09-01 15:49] #405 closed, assigned to nobody

[2021-09-01 15:55] #399 closed, assigned to nobody

[2021-09-02 04:21] #366 closed, assigned to dujiepeng

[2021-09-02 04:21] dujiepeng commented on #358
@TheCodeYu  flutter2_dev已经支持。

[2021-09-02 04:21] #358 closed, assigned to nobody

[2021-09-02 04:26] dujiepeng commented on #359
已修复。

[2021-09-02 04:26] #359 closed, assigned to dujiepeng

[2021-09-02 04:26] dujiepeng commented on #357
已修复。

[2021-09-02 04:26] #357 closed, assigned to dujiepeng

[2021-09-03 10:01] bxvip commented on #242
好累哦，希望尽快接入

[2021-09-03 14:01] xiayanping opened #408 "java.lang.NumberFormatException: For input string: "mserver""
im_flutter_sdk:
    git:
      url: https://github.com/easemob/im_flutter_sdk.git
      ref: flutter2_dev
  ease_call_kit:
    git:
      url: https://github.com/easemob/ease_call_kit.git
      ref: stable

D/ONE SDK (12958): [2021/09/03 13:54:51:066]: update baseServiceUrl: https://mserver.easemob.com:443
D/ONE SDK (12958): [2021/09/03 13:54:51:066]: update configInfo
D/ONE SDK (12958): [2021/09/

[2021-09-05 14:57] xiayanping commented on #399
有处理好吗，怎么处理的

[2021-09-07 15:53] xiayanping opened #409 "type 'WhereIterable<String?>' is not a subtype of type 'List<String>' in type cast"
![image](https://user-images.githubusercontent.com/6671396/132374812-d6838092-fa4f-4675-9f3d-502dafe032c8.png)

 im_flutter_sdk:
    git:
      url: https://github.com/easemob/im_flutter_sdk.git
      ref: flutter2_dev
  ease_call_kit:
    git:
      url: https://github.com/easemob/ease_call_kit.git
      ref: stable

environment:
  sdk: ">=2.12.0 <3.0.0"

[2021-09-08 04:13] dujiepeng commented on #409
已经修复了，请拉取最新的flutter2_dev

[2021-09-08 04:13] #409 closed, assigned to nobody

[2021-09-08 13:15] xiayanping commented on #409
![image](https://user-images.githubusercontent.com/6671396/132516229-1077c824-7875-433c-8e60-ded7645572fc.png)

还是不行呀，我看其它版本都是toList

[2021-09-08 14:32] xiayanping opened #413 "type 'WhereIterable<String?>' is not a subtype of type 'List<String>' in type cast"
[原问题：https://github.com/easemob/im_flutter_sdk/issues/409](https://github.com/easemob/im_flutter_sdk/issues/409)

im_flutter_sdk:
git:
url: https://github.com/easemob/im_flutter_sdk.git
ref: flutter2_dev
ease_call_kit:
git:
url: https://github.com/easemob/ease_call_kit.git
ref: stable

environment:
sdk: ">=2.12.0 <3.0.0"

![image](https://user-images.githubusercontent.com/6671396/132529482-bbb5cfd

[2021-09-09 08:03] #413 closed, assigned to nobody

[2021-09-09 08:04] dujiepeng commented on #330
您好，预计10月左右会放出。

[2021-09-09 08:04] #330 closed, assigned to nobody

[2021-09-09 08:05] dujiepeng commented on #408
@xiayanping 您好，这个不影响您那边使用，这个已经被安卓sdk catch住了，但是目前仍有打印，后续版本安卓sdk升级后会把打印去掉。

[2021-09-09 08:05] #408 closed, assigned to nobody

[2021-09-09 11:51] clstech opened #417 "会话列表 能增加 名称吗"
目前监听会话 出现群组情况默认是显示群组ID，需要去单独查询群组信息替换，  用户昵称也是一样，现在都是显示用户账号

[2021-09-09 12:12] dujiepeng commented on #356
已修复。

[2021-09-09 12:12] #356 closed, assigned to dujiepeng

[2021-09-09 12:15] dujiepeng commented on #417
现在应该是有一个昵称，不过这个其实是用conversation.ext实现的。 目前在demo里已经使用了，可以看一下joined_groups_page.dart, 在从群组列表进入聊天页面的时候，主动对con.name进行了赋值。
[code]
但这个操作确实是一个比较惰性的操作，目前demo是只有在这个地方才会对会话进行赋值，如果是直接受到群组消息，还是需要做一次处理的。

[2021-09-09 12:15] #417 closed, assigned to nobody

[2021-09-09 12:16] dujiepeng commented on #242
flutter2_dev已经支持了，可以试下。

[2021-09-09 12:16] #242 closed, assigned to dujiepeng

[2021-09-09 12:17] #247 closed, assigned to dujiepeng

[2021-09-09 12:33] clstech commented on #417
Demo 的办法我也看过了，只是这样就感觉麻烦了，不如在监听收到群组消息时候就 吧 群组昵称 给附带上去

[2021-09-09 14:36] xiayanping opened #418 "我估计会被作者打了，因为这是第三次来报错了 fetchUserInfoByIdWithExpireTime 还是没更新为toList"
![image](https://user-images.githubusercontent.com/6671396/132705496-a735e5d4-64bd-4e17-8a36-c890d61c585f.png)

  im_flutter_sdk:
    git:
      url: https://github.com/easemob/im_flutter_sdk.git
      ref: flutter2_dev
  ease_call_kit:
    git:
      url: https://github.com/easemob/ease_call_kit.git
      ref: stable

**调用 fetchOwnInfo=>fetchUserInfoByIdWithExpireTime** 会报type 'WhereIterable<Stri

[2021-09-09 16:00] xiayanping opened #419 "getAllContactsFromServer() 获取到联系人里，只有环信ID，没有其它附加信息"
im_flutter_sdk:
    git:
      url: https://github.com/easemob/im_flutter_sdk.git
      ref: flutter2_dev
  ease_call_kit:
    git:
      url: https://github.com/easemob/ease_call_kit.git
      ref: stable

![image](https://user-images.githubusercontent.com/6671396/132722618-63f797a9-c163-4650-86b3-1cbb91b71857.png)

使用 EMClient.getInstance.contactManager.getAllContactsFromServer() 获取到联系人里，只有环信ID，

[2021-09-09 16:01] xiayanping opened #420 "getAllContactsFromServer() 获取到联系人里，只有环信ID，没有其它附加信息"
使用 EMClient.getInstance.contactManager.getAllContactsFromServer() 获取到联系人里，只有环信ID，没有其它附加信息
比如：昵称，头像地址

我使用EMClient.getInstance.userInfoManager.updateOwnUserInfo(userInfo); 更新成功个人信息，联系人里也没有附加信息

另外会话列表里没有用户头像地址，好麻烦

[2021-09-09 16:04] xiayanping opened #421 "getAllContactsFromServer() 获取到联系人里，只有环信ID，没有其它附加信息"
使用 EMClient.getInstance.contactManager.getAllContactsFromServer() 获取到联系人里，只有环信ID，没有其它附加信息
比如：昵称，头像地址

我使用EMClient.getInstance.userInfoManager.updateOwnUserInfo(userInfo); 更新成功个人信息，联系人里也没有附加信息

另外会话列表里没有用户头像地址，好麻烦

[2021-09-09 16:06] xiayanping opened #422 "getAllContactsFromServer() 获取到联系人里，只有环信ID，没有其它附加信息"
使用 EMClient.getInstance.contactManager.getAllContactsFromServer() 获取到联系人里，只有环信ID，没有其它附加信息
比如：昵称，头像地址

我使用EMClient.getInstance.userInfoManager.updateOwnUserInfo(userInfo); 更新成功个人信息，联系人里也没有附加信息

另外会话列表里没有用户头像地址，好麻烦

[2021-09-09 16:06] #421 closed, assigned to nobody

[2021-09-09 16:06] #420 closed, assigned to nobody

[2021-09-09 16:06] #422 closed, assigned to nobody

[2021-09-09 16:25] #418 closed, assigned to nobody

[2021-09-10 09:02] clstech opened #426 "EMClient.getInstance.groupManager.requestToJoinPublicGroup 报一个空异常"
在使用 EMClient.getInstance.groupManager.requestToJoinPublicGroup 加群时候 报一个空异常

W/IInputConnectionWrapper(23133): getSelectedText on inactive InputConnection
W/IInputConnectionWrapper(23133): getTextAfterCursor on inactive InputConnection
W/IInputConnectionWrapper(23133): getTextBeforeCursor on inactive InputConnection
W/IInputConnectionWrapper(23133): getTextAfterCursor on inactive InputConnection
D/

[2021-09-17 06:51] tongdong opened #429 "调用fetchHistoryMessages报错"
![图片](https://user-images.githubusercontent.com/12770291/133737643-76e1bec7-c240-4a5d-8dce-59482e80c656.png)
![图片](https://user-images.githubusercontent.com/12770291/133737682-3e361494-bda6-4b80-b542-5db1c891408e.png)

[2021-09-21 08:23] ZackTvZ opened #433 "会话里的群聊都只是显示群聊ID而已?"
@dujiepeng @dujiepeng 如图显示 是我少做什么东西了吗?
![Screenshot 2021-09-21 at 4 18 57 PM (2)](https://user-images.githubusercontent.com/4057779/134137170-4d7f888e-c958-49a3-a1c4-57ea55e57b85.png)

[2021-09-22 03:57] dujiepeng commented on #429
@tongdong 你好，这个报错目前没有重现，能提供下调用的上下文么？ 看着感觉是返回的是EMCursorResult<Message?>, 但调用的时候是EMCursorResult<Message> result =  EMClient.xxxxx 了。 您flutter的版本是？

[2021-09-22 03:58] dujiepeng commented on #433
@ZackTvZ  是的会话列表里只有会话id，如果需要显示其他，需要显式的设置，目前conversation提供了name属性，可以setName;

[2021-09-22 03:59] #433 closed, assigned to nobody

[2021-09-22 04:00] ZackTvZ commented on #433
那么在create group的时候 收消息方面要怎样那么group name?

[2021-09-22 04:36] dujiepeng commented on #433
@ZackTvZ 这个之和会话有关，demo是在从群列表进入会话会话的时候做了set name的操作。如果是接收消息，也一样是需要先获取群属性，之和进行set name.

[2021-09-22 04:45] ZackTvZ commented on #433
接收方 如何第一次收到信息的时候 setname呢 是收到信息后? 还是什么时候

[2021-09-22 06:59] dujiepeng commented on #426
@lzdtech 你好，这个问题目前没有重现出来，能提供些其他信息么，比如这个群是否存在，加入是否成功等。

[2021-09-22 09:58] #303 closed, assigned to nobody

[2021-09-26 01:54] cjl84914 opened #434 "请问什么时候适配null safe?"
工程有些插件还不是null safe, 例如：keyboard_visibility: 0.5.6

[2021-09-26 13:01] tongdong opened #435 "发出去的消息一直转圈"
![图片](https://user-images.githubusercontent.com/12770291/134809083-7f1dd584-7f0a-4983-95ad-793e75958cda.png)

await EMClient.getInstance.chatManager.sendMessage(msg);发送消息的localTime和ChatItem的localTime对不上，导致ChatItem收不到回调，请问这个情况需要怎么处理

[2021-09-27 03:26] dujiepeng commented on #435
@tongdong 你好，这个我暂时没有重现，有具体的重现步骤么。

[2021-09-27 03:26] dujiepeng commented on #434
@cjl84914 你好，sdk已经支持了，demo暂时没有办法完全支持。

[2021-09-27 03:47] tongdong commented on #435
把
![图片](https://user-images.githubusercontent.com/12770291/134842663-43fcf15d-f35c-4a7f-ab86-2ce35e34867e.png)
反转一下

![图片](https://user-images.githubusercontent.com/12770291/134842710-40081a6e-dfb6-4d10-ada1-20b6a01e2e0d.png)
把发送的新消息插到第一位， 就能复现了

[2021-09-27 04:56] tongdong commented on #435
因为想要结合pull_to_refresh做聊天页的下拉加载 需要倒序 发现消息一直转圈

[2021-09-27 09:14] bxvip opened #436 "登陆后出现链接问题"
E/EMClient(27486): hyphenate SDK is initialized with version : 3.8.3
D/ONE SDK (27486): [2021/09/27 17:03:18:046]: sqlite version: 3.26.0
D/ONE SDK (27486): [2021/09/27 17:03:18:046]: performMigrationIfNecessary current DB version: 6
D/ONE SDK (27486): [2021/09/27 17:03:18:049]: Java_com_hyphenate_chat_adapter_EMAChatManager_nativeLoadAllConversationsFromDB
D/ONE SDK (27486): [2021/09/27 17:03:18:

[2021-09-30 07:20] tongdong opened #437 "用demo发gif图片会发出无数条图片消息"
用demo发gif图片会发出无数条图片消息

[2021-10-03 02:34] ixre opened #438 "The plugin `im_flutter_sdk` uses a deprecated version of the Android embedding."
使用最新的flutter版本出现错误:
[code]

[2021-10-08 19:12] AidanFreeman opened #439 "注册监听聊天室监听，无法收到回调"
![image](https://user-images.githubusercontent.com/58162973/136612729-59af42ec-d477-4c2f-ac04-df23c38f1e1b.png)
![image](https://user-images.githubusercontent.com/58162973/136613051-c31e7ed6-cfea-4508-aa4f-557e50225d3d.png)
ru如图，可以看到sdk里面输出了回调，但是本地无法收到，请问下哪里有什么问题，版本stable 3.8.3
![image](https://user-images.githubusercontent.com/58162973/136613150-3e251121-269d-4d7a-ab07-795757c56971.png)
![image](

[2021-10-14 13:34] wangye888 opened #440 "sdk还没有支持空安全"
<img width="578" alt="截屏2021-10-14 下午8 32 25" src="https://user-images.githubusercontent.com/92528784/137327986-801ad29a-057e-4072-be21-9987f6e692fe.png">

[2021-10-14 13:36] wangye888 commented on #440
![截屏2021-10-14 下午8 33 33](https://user-images.githubusercontent.com/92528784/137328347-96381a64-4d3f-4ae3-95f1-c18d6a61277a.png)

[2021-10-15 06:44] dujiepeng commented on #439
@AidanFreeman  你注册监听的代码是在sdk初始化后执行的么。

[2021-10-15 06:45] dujiepeng commented on #440
@wangye888 可以使用flutter2_dev分支。

[2021-10-15 06:46] dujiepeng commented on #438
@ixre 可以使用flutter2_dev分支。

[2021-10-15 06:47] dujiepeng commented on #436
@bxvip 有更明确的报错么。

[2021-10-15 06:48] #440 closed, assigned to nobody

[2021-10-15 06:49] #438 closed, assigned to nobody

[2021-10-15 06:49] #419 closed, assigned to nobody

[2021-10-15 06:51] #163 closed, assigned to nobody

[2021-11-04 03:14] jianibaobei opened #446 "一直报 errorCode 2"
一直报 errorCode 2
EaseMob | V | init: {appKey: 1113200703041339#blinddate, autoLogin: true, debugModel: true, acceptInvitationAlways: false, autoAcceptGroupInvitation: false, deleteMessagesAsExitGroup: true, deleteMessagesAsExitChatRoom: true, dnsUrl: , enableDNSConfig: true, imPort: 0, imServer: , isAutoDownload: true, isChatRoomOwnerLeaveAllowed: true, requireAck: true, requireDeliveryAck: false,

[2021-11-08 15:12] wangye888 opened #447 "有支持web端的计划吗"
目前android和ios端接入运行都很正常，web端运行的话环信sdk报错，想问后面会有支持web端的计划吗

[2021-11-09 09:12] takeeasyman commented on #434
![image](https://user-images.githubusercontent.com/3069003/140895607-f5c83fe0-57b9-4ee3-b0d5-354b367cdaee.png)

[2021-11-09 09:14] dujiepeng commented on #447
你好，目前还没有计划。可以加群535134817，了解最新情况。

[2021-11-09 09:14] #447 closed, assigned to nobody

[2021-11-09 09:16] dujiepeng commented on #446
static final int | NETWORK_ERROR = 2
2看起来是网络错误，请问是必现的么。可以加群535134817

[2021-11-09 09:17] dujiepeng commented on #434
@z870248707  可以使用flutter2_stable分支。

[2021-11-09 09:17] #434 closed, assigned to nobody

[2021-11-10 02:21] takeeasyman commented on #434
好的，谢谢

[2021-12-07 10:12] JeremyMing opened #464 "发送图片消息，接收方不执行onMessagesReceived回调，发送文字消息正常"
使用的分支：flutter2_stable

发送图片消息：
`EMMessage emMessage = EMMessage.createImageSendMessage(username: username, filePath: image.path);
  EMMessage? result = await EMClient.getInstance.chatManager.sendMessage(emMessage);`

发送功能正常，接收方收不到onMessagesReceived回调，但是主动刷新也可以刷出来该条消息，控制台也能看到输出
<img width="1366" alt="image" src="https://user-images.githubusercontent.com/26619749/145013146-b3b592f7-906e-4b2c-9aaa-61

[2021-12-08 00:56] #464 closed, assigned to nobody

[2021-12-08 02:02] HuberCui opened #465 "iOS离线推送有的账号可以收到推送，有的收不到"
如标题，跑了一下官方demo也是如此问题

[2021-12-08 02:30] HuberCui commented on #465
发现杀死进程，还是走的环信推送，没有走APNS推送，应该是这个原因，怎么解决呢？

[2021-12-08 02:33] dujiepeng commented on #446
没有新的反馈，暂时关闭。

[2021-12-08 02:33] #446 closed, assigned to nobody

[2021-12-08 02:34] dujiepeng commented on #439
没有新的反馈，暂时关闭。

[2021-12-08 02:34] #439 closed, assigned to nobody

[2021-12-08 02:34] dujiepeng commented on #437
因为图片解析导致，git需要用文件发送，而不是图片发送。

[2021-12-08 02:34] #437 closed, assigned to nobody

[2021-12-08 02:37] dujiepeng commented on #465
如果app被杀死进程，此时收到的消息会通过apns通知，之后用户上线后会通过sdk的收消息回调接收消息，这个是正常现象。 “离线推送有的能收到，有的收不到”这个可以具体描述下么？

[2021-12-08 02:43] HuberCui commented on #465
刚才试了一下，在杀死进程的环境下，我用环信后台手动推送，通道策略默认 [“环信通道优先，在线走环信，离线走厂商”，走的是环信，选择了三方厂商策略，就走了APns推送，推测是杀死进程，长链接没有断开

- [ ]

[2021-12-29 10:57] ixre opened #470 "flutter2_stable 分支消息自定义属性MAP的值全部为true/false"
flutter2_stable 分支消息自定义属性MAP的值全部为true/false , 报错：
[code]

[2021-12-29 10:59] dujiepeng commented on #470
@ixre 是哪个平台测试的。

[2021-12-29 11:00] dujiepeng commented on #367
已修复。

[2021-12-29 11:00] #367 closed, assigned to dujiepeng

[2021-12-29 11:01] ixre commented on #470
android

[2021-12-30 03:39] cjl84914 opened #471 "ios设备收不到离线推送。"
ios设备收不到离线推送。
我在系统通知不见此应用的图标。实现离线推送是否需要额外配置什么？
已经上传苹果证书，
应用已经配置证书名称。
设备：iphone7 plus
ios: 13.7
im_flutter_sdk:3.8.3+2

在iOS_IM_SDK_V3.8.5.2测试可以收到推送。
iOS_IM_SDK在系统通知是有应用图标的。

[2022-01-05 03:18] Ucoon commented on #375
请问这个问题解决了嘛

[2022-01-12 09:21] #471 closed, assigned to nobody

[2022-01-14 10:27] cjl84914 opened #478 "APP在线能不能弹出推送通知？"

[2022-01-14 10:29] cjl84914 commented on #465
iOS用开发和生产结合的推送证书，离线都能收到推送。

[2022-01-20 13:56] demoYang opened #479 "Plugin中的FlutterAppDelegate 的分类EaseMob 的方法覆盖了FlutterAppDelegate中的方法 ,收不到注册远程通知的回调,获取不到token,"
![image](https://user-images.githubusercontent.com/7134823/150351180-147e09b6-a14b-44da-a84e-20171da6a1da.png)
![image](https://user-images.githubusercontent.com/7134823/150351917-b1c5508e-44d2-488d-a581-96e296f3c56d.png)

如图, Plugin ImFlutterSdkPlugin.m 文件中有个FlutterAppDelegate 的分类EaseMob ,导致 FlutterAppDelegate 自己的 -application:    didRegisterForRemoteNotificationsWithDeviceToken: 方法没有走,

[2022-01-20 13:58] demoYang commented on #479
Flutter  Plugin im_flutter_sdk  version : 3.8.3+2

[2022-01-20 16:36] panzhoutao opened #480 "获取不到用户属性"
EMClient.getInstance.userInfoManager.fetchOwnInfo()；

[2022-01-20 16:57] panzhoutao commented on #480
更新属性也不行

[2022-01-20 17:15] panzhoutao commented on #480
![image](https://user-images.githubusercontent.com/20410075/150388642-f9150ce7-7fe4-4a15-8181-5aa67f19fb34.png)

[2022-01-21 02:04] dujiepeng commented on #480
@panzhoutao 提供下设置和获取的代码。

[2022-01-21 02:07] dujiepeng commented on #479
@demoYang 是的，这是为了开启环信消息推送。这会导致其他地方的注册不回调，如果您需要使用其他的，可以直接把这部分代码移到需要的地方。只要确保把deviceToken传给环信sdk就行。

[2022-01-21 02:07] dujiepeng commented on #478
@cjl84914 如果app在后台，需要自己实现本地通知。

[2022-01-21 02:07] #478 closed, assigned to nobody

[2022-01-21 02:08] dujiepeng commented on #470
@ixre 可以试下dev_3.8.3+4分支。目前还有其他内容开发，暂时没有发到pubdev。

[2022-01-21 02:09] #465 closed, assigned to nobody

[2022-01-21 02:10] #436 closed, assigned to nobody

[2022-01-21 02:11] dujiepeng commented on #435
@tongdong 看下chat_item中添加监听的位置，把setMessageListener移动到build中试下。

[2022-01-21 02:11] #435 closed, assigned to nobody

[2022-01-21 02:11] #429 closed, assigned to nobody

[2022-01-21 02:11] #315 closed, assigned to dujiepeng

[2022-01-21 02:38] panzhoutao commented on #480
await EMClient.getInstance.userInfoManager
          .updateOwnUserInfoWithType(EMUserInfoType.NickName, '测试测试')；

await EMClient.getInstance.userInfoManager.fetchOwnInfo()；

[2022-01-21 02:42] panzhoutao commented on #480
已加qq群，但是没通过

[2022-01-22 05:43] demoYang commented on #479
这样如何?

@implementation ImFlutterSdkPlugin

+ (void)registerWithRegistrar:(NSObject<FlutterPluginRegistrar>*)registrar {
    ImFlutterSdkPlugin* imPlugin = [[ImFlutterSdkPlugin alloc] init];
    [registrar addApplicationDelegate:imPlugin];
    [EMClientWrapper channelName:EMChannelName(@"em_client") registrar:registrar];
}

- (void)handleMethodCall:(FlutterMethodCall*)call result:(FlutterResult)res

[2022-01-22 05:46] demoYang commented on #479
[code]

[2022-01-28 03:58] #480 closed, assigned to nobody

[2022-02-17 02:41] swiftlyfish opened #484 "demo里，聊天界面表情键盘切换文字输入会闪屏，系统键盘会将表情顶起"

[2022-03-09 00:37] mingV2019 opened #486 "debug没问题，打包或者flutter run --release应用会闪退"
debug没问题，打包或者flutter run --release应用会闪退

[2022-03-10 07:29] dujiepeng commented on #486
需要设置混淆规则。https://docs-im.easemob.com/im/android/sdk/import#app_%E6%89%93%E5%8C%85%E6%B7%B7%E6%B7%86

[2022-03-10 07:29] #486 closed, assigned to nobody

[2022-03-10 07:34] dujiepeng commented on #484
@ShellPeng 哪个端？  我这边测试的正常。

[2022-03-10 07:34] dujiepeng commented on #470
已经pub.

[2022-03-10 07:34] #470 closed, assigned to nobody

[2022-03-10 07:35] dujiepeng commented on #426
已修复。

[2022-03-10 07:35] #426 closed, assigned to nobody

[2022-03-10 07:35] swiftlyfish commented on #484
iOS 你点击表情按钮和 输入框按钮快速切换，或者第一次点击会出现这个情况

彭鹏
***@***.***

签名由 网易邮箱大师 定制

在2022年03月10日 ***@***.***> 写道：

@ShellPeng 哪个端？ 我这边测试的正常。
—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mobile for iOS or Android.
 You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-03-10 08:10] good-good-study opened #487 "im_flutter_sdk: ^3.8.3+4 无法使用多人音视频"
集成SDK版本如下：
  im_flutter_sdk: ^3.8.3+4
  ease_call_kit:
    git:
      url: https://github.com/easemob/ease_call_kit.git
      ref: 33bb9e7

多人视频通话，A为发起者，B、C为被邀请者。
                          A发起多人视频通话，调用：EaseCallKit.startInviteUsers();
                          B、C两端均收到邀请，并且显示了来电页面，但是随后1秒钟，页面自动关闭了。

以下是发起者和接听者的日志：

[发起方-easemob.log](https://github.com/easemob/im_flutter_sdk/files/8221423/-easemob.lo

[2022-03-27 03:36] 3442853561 opened #490 "iOS 下无法编译的问题"
[code]

[2022-03-27 03:43] 3442853561 commented on #490
并且我已经尝试了在 ios 目录下执行 ```pod install --repo-update```

[code]

[2022-03-27 04:02] 3442853561 commented on #490
似乎是不支持 iOS 9 导致的 https://github.com/easemob/im_flutter_sdk/issues/179

[2022-03-27 04:02] #490 closed, assigned to nobody

[2022-03-31 16:20] Linspirit98 opened #491 "无法在离线时收到好友请求"
当用户A给用户B发送好友请求之后，当app在线时，会调用onContactInvited. 但是当用户B是离线状态时，打开app后也没有缓存好友请求，这个正常吗？而且app离线的时候也没有收到好友请求相关的推送。

[2022-04-13 09:02] criusKer opened #494 "请教下在哪里监听即时推送的内容"
![image](https://user-images.githubusercontent.com/40392411/163140567-1885d6af-48da-46f5-be83-dfb7c2461167.png)
有打印就是不知道用什么方法去监听

[2022-04-13 10:29] #494 closed, assigned to nobody

[2022-04-27 09:41] ixre opened #501 "获取msgTime报错"
E/AndroidRuntime( 1874): java.lang.NullPointerException: Attempt to invoke virtual method 'long com.hyphenate.chat.EMMessage.getMsgTime()' on a null object reference
E/AndroidRuntime( 1874): 	at com.easemob.im_flutter_sdk.EMChatManagerWrapper$5.compare(EMChatManagerWrapper.java:413)

[2022-04-27 09:45] ixre opened #502 "接收好友邀请回调不正常"
自定义并注册EMContactManagerListener,  当接收好友邀请时, 回调`onContactInvited` 会出现反复推送, 之前判断时间可以避免, 如下代码：
[code]
但现在出现发送了好友请求, 延迟很久才回调的情况.

[2022-04-30 03:00] abellee opened #503 "EMMessage的status变更是不是有问题？"
看了一下源码，消息状态是在`MessageStatusCallback`里改的
也就是说，`sendMessage`后，如果不`setMessageStatusCallback`的话，消息的状态是得不到即时更新的。
是不是有问题

[2022-04-30 06:58] ixre opened #504 "3.9.0+1没有startCallback方法"
更新版本依赖至：3.9.0+1  见release log有描述需要调用startCallback()才会会调,
可更新后根本就没有    EMClient.getInstance.startCallback();这个方法?　　

[2022-04-30 12:38] dujiepeng commented on #504
@ixre 你有拉取到这个版本么？我刚直接拉了一下，是有的。
[code]

[code]

[2022-04-30 12:41] dujiepeng commented on #503
@abellee 因为flutter这一侧除了发送消息其他的都是从原生sdk去取，sdk内部这个状态是更新的。所以这个状态从sdk获取时会是正确的。

[2022-04-30 12:43] dujiepeng commented on #502
@ixre 新增了控制回调的入口。ui创建好后，调用
[code]
这个方法，sdk才会开始回调通讯录相关的操作。
还有就是反复推送，这个我还没遇到过，能确定收到的都是同一个回调么？可以描述下具体是什么时候出现的。

[2022-04-30 22:37] abellee commented on #503
@dujiepeng 但是如果我不`setMessageStatusCallback` 直接获取状态，那状态就一直是`onProgress`的，
场景是：通过消息的状态来判断是否显示一个loading的动画图标，但做一个延迟(毫秒级)的状态检测，如果仍处在发送中，则显示loading，否则就不显示。
我觉得Flutter侧不应该纠结原生SDK，这样的处理也是有问题的，不论是否有回调，消息状态是必须要更新的吧。

[2022-05-03 09:42] #504 closed, assigned to nobody

[2022-05-03 09:56] dujiepeng commented on #503
@abellee 你说的这个场景是需要设置statusCallback的。
你说的情况我非常同意，之前有一个版本是按照这个实现的，但是flutter中消息结构都是new出来的，如果sdk直接持有了消息，它和ui上持有的很可能不是一份(因为ui更新时可能会重新从sdk load，而load出来的都是new的)。这就导致sdk更新了消息状态，你持有的不会更新。所以必须要求你显式的把这个callback设置给sdk，sdk才能才得到回调时更新你持有的。

另外，也有考虑把整个消息状态提高，从现在的针对message 的callback放到EMChatManager这个级别，但目前原生那边不保留messageId，也就是说消息发送的时候是messageid是1，发送成功后就直接变成了2，没有对应关系，这就会导致提到EMChatManager后，无法对应是哪一条消息发送成功。所以目前只能这样实现，我

[2022-05-04 03:11] abellee commented on #503
@dujiepeng 感谢

[2022-05-04 03:11] #503 closed, assigned to nobody

[2022-05-04 03:15] abellee opened #505 "请问一下 EMOptions 如何更新"
是需要重新init一下 然后重新login吗？

[2022-05-04 03:48] abellee opened #506 "请问如何获取群组EMGroupOptions?"
我看源码里的settings已经deprecated了，如何获取ext信息？
EMGroupManager里也只能更新

[2022-05-05 06:42] dujiepeng commented on #505
你好，EMOptions不能更新。

[2022-05-05 06:42] #505 closed, assigned to nobody

[2022-05-05 06:45] dujiepeng commented on #501
你好，请问是哪个版本。

[2022-05-08 08:07] abellee commented on #505
@dujiepeng 那现在初始化的时候设置成自动接受群邀请，如果我想关掉这个设置，只能重新走一遍初始化流程吗？

[2022-05-09 04:01] dujiepeng commented on #506
@abellee 收到，近期会升级一个版本暴露ext信息。

[2022-05-17 19:27] ixre opened #508 "调用登录相关SDK耗时太长"
登录步骤：　kickAllDevices -> login -> load groups  and contacts -> jump to home page

这个过程在某些用户网络情况下,　 有用户反馈耗时过长(最长30多秒),　加载群和联系人已经在APP做了本地缓存+服务器数据合并,　但登录和第一次加载数据无法避免.

本地用梯子代理模拟出了这种情况,　以下为截取的日志,　其中登录约为5秒,　不代理1秒

[code]

[2022-05-19 05:41] dujiepeng commented on #508
用户都是海外么？如果是海外需要和销售说明，应该会有对应的加速节点配置。

[2022-05-19 05:41] #508 closed, assigned to nobody

[2022-05-19 09:01] ixre commented on #508
问题描述清楚了：

**这个过程在某些用户网络情况下,　 有用户反馈耗时过长,　本地是用梯子代理模拟出了这种情况**

[2022-05-19 16:59] abellee opened #509 "关于vivo 华为推送设置"
`enableVivoPush` `enableHWPush` 这两个接口不需要传`appId` `appKey`吗？

[2022-05-20 04:56] ixre commented on #501
最新

[2022-05-20 05:00] ixre opened #510 "sqlite out of memory 导致APP闪退"
在会话页会出现大量的 sql result: 0,　sqlite出现out of memory

[code]

[2022-05-21 13:55] ixre opened #511 "processGeneralRESTResponseError:: retCode: 408 response: timeout"
日志见：
[code]

[2022-05-24 02:20] ixre commented on #511
用户出现301 desc: Server response timeout

[2022-05-24 03:10] abellee commented on #502
@dujiepeng ui创建好后调用指的是什么？我现在在main都完成调用了 等用户登陆后再触发的，也是有这样的情况，时有时无，有的时候一次触发很多次，看到console里有打日志 但sdk里就是不触发，我是在一个单例里统一管理所有监听的 按你demo试了一下 放在具体界面 startCallback各种位置换 都不行

[2022-05-24 03:16] abellee opened #512 "消息不回调"
![CleanShot 2022-05-24 at 11 12 25](https://user-images.githubusercontent.com/707615/169941338-d2a13aaa-3137-4014-aa68-8a10e594372b.png)
请问一下 这样初始化过程有没有问题？为什么消息回调时有时无的，然后等突然收到的时候就一下收到七八条，看console是有输出日志的 但是sdk就是不回调。

每次add前的remove是为了避免虚拟机多次监听的，但也试过去掉 或者startCallback放到具体界面 都不行，而且我是在用户登陆后初始化的，基本上已经经过很多个界面切换了。

再者是 比较新消息的通知也是，文档里说离线消息在上线后会再次回调，也是时有时无的。

麻烦尽快帮忙解答一下，项目卡这挺久了，官网后台也发了工单 不知道有没有人 - -！！

[2022-05-24 18:22] dujiepeng commented on #502
@abellee  是指你进入你app的首页后调用的，因为sdk一旦初始化后就会开始给你回调不在线期间的好友申请，而这个时候你的ui可能还没有准备好，所以当app启动后，并且你的sdk监听都实现好以后就需要调用这个方法。

[2022-05-24 18:24] dujiepeng commented on #512
@abellee 看起来没问题，这个类是哪里用的，方便的话可以把这个文件完整的代码提供下。

[2022-05-24 18:27] dujiepeng commented on #511
@ixre  这个是什么时候出现的。

[2022-05-24 18:28] dujiepeng commented on #510
@ixre 这个是什么情况下出现的。

[2022-05-24 18:30] dujiepeng commented on #509
这个需要在原生测集成
https://docs-im.easemob.com/im/android/push/thirdpartypush#vivo_%E6%8E%A8%E9%80%81%E9%9B%86%E6%88%90

[2022-05-24 18:30] #509 closed, assigned to nobody

[2022-05-24 18:30] dujiepeng commented on #501
@ixre 3.9.0+1 还是stable？

[2022-05-25 00:58] abellee commented on #512
@dujiepeng 这个文件里剩余的部分 就全部都是相关的监听回调 没有别的代码了，用是在另外一个单例里 用户登陆之后调用，但如果用户已经登陆过了 再重新进入app的时候 会在runApp之前就被初始化 所以是不是这种情况下是有问题的

[2022-05-26 03:25] ixre commented on #510
会话页免检查会话是否有 @我的内容

[2022-05-26 03:26] ixre commented on #501
引用的源代码

[2022-05-28 10:06] abellee commented on #502
@dujiepeng 这个我能明白 但不论ui有没有反应，console不是应该能输出的吗 但也完全没有输出，然后sdk的debug信息里 其实是有打出来的 但是sdk的回调却没反应，我试着进到sdk源码里print 也是没有输出的 然后时有时无，然后一旦触发 就会一次性发七八次 不知道我有没有说明白

[2022-05-29 12:23] dujiepeng commented on #502
这是两个问题吧，先说@

[2022-05-29 12:28] dujiepeng commented on #502
@abellee 这个是两个问题吧，先说@ixre的，sdk是多播，也就会只要AddDelegate了，这个组件就会收到回调，所以需在destroy中删除监听。因为flutter 支持 hotload，所以有可能存在reload的时候没有执行destroy。这样的结果就是sdk中会持有多个对象，每收到一个回调就会向这些对象中回调。但是因为代码时一份，所以可能会让人认为是执行了多次。

[2022-06-06 14:00] abellee commented on #512
@dujiepeng 可能已经解决了，我在`reassemble`里移除了所有监听，并在`build`里重新监听，好像是正常了，但这也只能确保热重载的情况下 热重启还是会有问题，得再次保存一下触发热重载。但是 能否优化一下开发模式下的体验，这真的有点头大，我还得专门为开发模式下搞一套逻辑。
因为你demo里的都是在对应的界面里进行注册监听的 然后`dispose`的时候取消监听（这里我也有点奇怪，貌似hot reload的时候是不会触发`dispose`的），可能不太会有我这方面的问题，但如果用单例，那真的就各种莫名其妙了

[2022-06-06 14:00] #512 closed, assigned to nobody

[2022-06-07 16:15] abellee opened #513 "关于模拟器下的监听问题"
我现在的处理是：
1、`reassemable`下移除监听
2、`main`的`build`下添加监听，条件是
      * 非生产环境
      * 已初始化并且未添加过监听
3、在app完成初始化后，即用户相关信息从缓存中恢复后，进行初始化、监听、并登录
4、接收到断开后，重新登录

在`模拟器A`运行后，日志输出 只看到触发了一次监听事件，我理解的这是正确的结果。

然后这时候我在另外一个`模拟器B`下发起添加好友，但是`模拟器A`相应的监听未触发，这个时候我保存一下，即触发热重载，这个时候等于是移除监听并添加监听，添加好友的监听被触发。

之后我做了另一个处理，我在登录的时候，会先调用一次登出，登出里会检测`isLoginBefore`，如果`true`的话，会先进行登出，登出成功后，取消所有监听。登录成功后，再次添加监听。
这样处理过后，重新运行至`模拟器A`，在`模拟器B`

[2022-06-09 01:47] abellee opened #514 "上传群共享文件的进度回调在哪？"
我看ios android里都有 flutter sdk咋没有 注释里貌似有写，但参数没有 要咋用？

[2022-06-09 01:55] dujiepeng commented on #514
@abellee 群上传进度有问题，会在近期发版加上。

[2022-06-09 02:32] dujiepeng commented on #513
@abellee  我理解不存在你说的问题或者是我没太理解。
因为热重载的时只是重新执行build相关的代码，如果初始化和添加监听放到initState应该不会重复执行的。 所以添加监听放到initState里，移除监听放到dispose里就可以。

1、 登出会释放所有已有监听；
2、热重载不会断开socket；
3、单例的话不需要单独处理，但是登出的话需要重新添加监听；

如果方便可以给我提供一个简单的demo，发到邮箱 dujiepeng@easemob.com 或者是加我的QQ 347302029来进一步沟通。

[2022-06-09 02:32] #513 closed, assigned to nobody

[2022-06-09 10:33] abellee commented on #514
@dujiepeng  🥹🥹赶紧的 哥

[2022-06-14 15:30] #514 closed, assigned to nobody

[2022-06-26 06:36] timzaak opened #515 "There is no HyphenateChat (= 3.9.3.1) in CocoaPods"
Only have HyphenateChat (= 3.9.3) , please upload it.

[2022-06-29 02:27] dujiepeng commented on #515
@timzaak
-> HyphenateChat (3.9.4)
   An Objective-C client for IM service
   pod 'HyphenateChat', '~> 3.9.4'
   - Homepage: http://www.easemob.com/
   - Source:   https://downloadsdk.easemob.com/downloads/HyphenateChat3_9_4.zip
   - Versions: 3.9.4, 3.9.3.1, 3.9.3, 3.9.2.1, 3.9.2, 3.9.1.1, 3.9.1, 3.9.0.1, 3.9.0, 3.8.9.2, 3.8.9.1, 3.8.9, 3.8.8,
   3.8.7.3, 3.8.7, 3.8.6.3, 3.8.6.2, 3.8.6, 3.8.5.2, 3

[2022-06-29 11:04] timzaak commented on #515
I'm sorry, I should run `pop update HyphenateChat` firstly, then run `flutter run`.

But  `EMClient.getInstance.pushManager.updatePushDisplayStyle(DisplayStyle.Simple);` would be error, DisplayStyle does not be exported.

[2022-06-30 05:33] dujiepeng commented on #515
@timzaak
u r right,i found this issue too.  it's will fix in next version. in 3.9.3 version, push was not good,  the new version should will change methods. so if you are  no hurry, please wait the new version. it’s plan in next weekend.

[2022-06-30 05:52] timzaak commented on #515
@dujiepeng , thanks for your reply and patient.

[2022-06-30 05:52] #515 closed, assigned to nobody

[2022-07-12 03:18] zhongmengfeng opened #517 "Whether to support the web version"
I want to add the fluuter im component to vue, is it feasible

[2022-07-12 03:33] #517 closed, assigned to nobody

[2022-07-13 08:00] dujiepeng commented on #515
@timzaak the plan is delay, cause of ios version have bugs. i will urge ios release new verison. then flutter can release on 3.9.5.  the new api in flutter2_dev branch, you can try it first.

[2022-07-13 08:05] dujiepeng commented on #517
@zhongmengfeng  hi, we don't support web platform so far. but we have web sdk, if you want try it. please visit https://github.com/easemob/webim

[2022-07-13 08:10] zhongmengfeng commented on #517
thank you for your reply

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年07月13日 16:05 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.***>、State ***@***.***> |
| 主题 | Re: [easemob/im_flutter_sdk] Whether to support the web version (Issue #517) |

hi, we don't support web platform so far. but we have web sdk, if you want try it. please visit https://github.com/easemob/webim

—
Reply to this email dir

[2022-07-14 08:01] ixre commented on #511
到现在还有这个问题，但是是个别网络才会这样

[2022-07-14 09:41] xiaofengin commented on #491
可能原因：当你下次打开APP 登录成功之后会触发收到好友请求的回调 如果这个时候 你没有添加监听 可能就会丢失
解决方法：在你登录成功之前直接就添加好友请求监听

[2022-07-14 09:45] dujiepeng commented on #491
@15617665365 新版本sdk中有一个startCallback的方法，调用之前不会回调，ui准备好调用这个，sdk就会向上层回调了。

[2022-07-14 09:49] xiaofengin commented on #162
建议使用自定义消息 ，UI展示的时候自己去解析消息信息，然后再做展示

[2022-08-05 15:58] ixre opened #527 "登录提示null引用"
[code]

[2022-08-08 01:37] dujiepeng commented on #527
@ixre 没有进行初始化吧。

[2022-08-09 08:48] ixre commented on #527
是的没有初始化

[2022-08-09 08:48] #527 closed, assigned to nobody